{% extends "layout.html" %}

{% block content %}

<div class="govuk-width-container publication-banner">
  Published policy page for Alcohol Misuse
</div>

  <div class="govuk-grid-row">
    <a href="#" role="button" class="govuk-button new-policy-button">
      New policy page
    </a>
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Policy pages
      </h1>

      <div class="govuk-form-group">
        <div class="policy-search-bar">
          <input class="govuk-input" id="email" name="email" type="text" aria-describedby="email-hint">
          <span class="search-button"></span>
        </div>
      </div>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="#">Abdominal Aortic Aneurysm</a></a></li>
        <li><a href="/v4/policy-edit">Alcohol Misuse</a></li>
        <li><a href="#">Amino acid metabolism disorders</a></li>
        <li><a href="#">Anaemia</a></li>
        <li><a href="#">Anal Cancer</a></li>
        <li><a href="#">Asymptomatic bacteriuria</a></li>
        <li><a href="#">Atrial Fibrillation</a></li>
        <li><a href="#">Autism</a></li>
        <li><a href="#">Bacterial vaginosis</a></li>
        <li><a href="#">Biliary atresia</a></li>
        <li><a href="#">Biotinidase deficiency</a></li>
        <li><a href="#">Bladder Cancer</a></li>
        <li><a href="#">Blood group & RhD status and red cell alloantibodies</a></li>
        <li><a href="#">Bowel Cancer</a></li>
        <li><a href="#">Breast Cancer</a></li>
        <li><a href="#">Canavan's disease</a></li>
        <li><a href="#">Cervical Cancer</a></li>
        <li><a href="#">Chlamydia (adult)</a></li>
        <li><a href="#">Chlamydia (pregnancy)</a></li>
        <li><a href="#">Chronic Kidney Disease</a></li>
        <li><a href="#">COPD</a></li>
        <li><a href="#">Coeliac Disease</a></li>
        <li><a href="#">Congenital adrenal hyperplasia</a></li>
        <li><a href="#">Congenital cataracts</a></li>
        <li><a href="#">Congenital heart disease</a></li>
        <li><a href="#">Congenital hypothyroidism</a></li>
        <li><a href="#">Congenital malformations</a></li>
        <li><a href="#">Cryptorchidism</a></li>
        <li><a href="#">Cystic fibrosis (newborn)</a></li>
        <li><a href="#">Cystic Fibrosis (pregnancy)</a></li>
        <li><a href="#">Cytomegalovirus</a></li>
        <li><a href="#">Dental Disease</a></li>
        <li><a href="#">Development & Behaviour</a></li>
        <li><a href="#">Developmental dislocation of the hip</a></li>
        <li><a href="#">Diabetes</a></li>
        <li><a href="#">Diabetic Retinopathy</a></li>
        <li><a href="#">Domestic Violence</a></li>
        <li><a href="#">Domestic violence (pregnancy)</a></li>
        <li><a href="#">Down's syndrome</a></li>
        <li><a href="#">Duchenne muscular dystrophy</a></li>
        <li><a href="#">Familial dysautonomia</a></li>
        <li><a href="#">Familial Hypercholesterolaemia (adult)</a></li>
        <li><a href="#">Familial Hypercholesterolaemia (child)</a></li>
        <li><a href="#">Fatty-acid oxidation disorders</a></li>
        <li><a href="#">Fetal anomalies</a></li>
        <li><a href="#">FMAIT</a></li>
        <li><a href="#">Fragile X</a></li>
        <li><a href="#">Galactosaemia</a></li>
        <li><a href="#">Galactosaemia</a></li>
        <li><a href="#">Gaucher disease</a></li>
        <li><a href="#">Genital Herpes</a></li>
        <li><a href="#">Gestational diabetes</a></li>
        <li><a href="#">Glaucoma</a></li>
        <li><a href="#">Glomerulonephritis</a></li>
        <li><a href="#">GA1</a></li>
        <li><a href="#">Group B Streptococcus</a></li>
        <li><a href="#">Growth</a></li>
        <li><a href="#">Haemochromatosis</a></li>
        <li><a href="#">Hearing Loss (adult)</a></li>
        <li><a href="#">Hearing (newborn)</a></li>
        <li><a href="#">Hearing (child)</a></li>
        <li><a href="#">Hepatitis B and C among ethnic minorities</a></li>
        <li><a href="#">Hepatitis B</a></li>
        <li><a href="#">Hepatitis C (adult)</a></li>
        <li><a href="#">Hepatitis C (pregnancy)</a></li>
        <li><a href="#">HCU</a></li>
        <li><a href="#">HTLV</a></li>
        <li><a href="#">Human immunodeficiency virus</a></li>
        <li><a href="#">Hypertension (adult)</a></li>
        <li><a href="#">Hypertension (child)</a></li>
        <li><a href="#">Hypertrophic Cardiomyopathy</a></li>
        <li><a href="#">Iron Deficiency Anaemia</a></li>
        <li><a href="#">IVA</a></li>
        <li><a href="#">Kernicterus</a></li>
        <li><a href="#">Kidney disease</a></li>
        <li><a href="#">krabbe disease</a></li>
        <li><a href="#">Lead Poisoning</a></li>
        <li><a href="#">LCHADD</a></li>
        <li><a href="#">Lung cancer</a></li>
        <li><a href="#">MSUD</a></li>
        <li><a href="#">MCADD</a></li>
        <li><a href="#">MPS1</a></li>
        <li><a href="#">Neural tube defect</a></li>
        <li><a href="#">Neuroblastoma</a></li>
        <li><a href="#">Obesity</a></li>
        <li><a href="#">Oral Cancer</a></li>
        <li><a href="#">Organic acid oxidation disorders</a></li>
        <li><a href="#">Osteoporosis</a></li>
        <li><a href="#">Ovarian cancer</a></li>
        <li><a href="#">Parvovirus</a></li>
        <li><a href="#">PKU</a></li>
        <li><a href="#">Placenta praevia</a></li>
        <li><a href="#">Policy_short_name</a></li>
        <li><a href="#">Postnatal depression</a></li>
        <li><a href="#">Postnatal depression</a></li>
        <li><a href="#">Pre-eclampsia</a></li>
        <li><a href="#">Preterm labour</a></li>
        <li><a href="#">Prostate Cancer</a></li>
        <li><a href="#">Psychiatric illness</a></li>
        <li><a href="#">Rubella susceptibility</a></li>
        <li><a href="#">Scoliosis</a></li>
        <li><a href="#">Dementia</a></li>
        <li><a href="#">Depression</a></li>
        <li><a href="#">Testicular cancer</a></li>
        <li><a href="#">Old Age</a></li>
        <li><a href="#">Sudden Cardiac Death</a></li>
        <li><a href="#">SCID</a></li>
        <li><a href="#">Sickle cell and Thalassaemia</a></li>
        <li><a href="#">Sickle Cell Disease (newborn)</a></li>
        <li><a href="#">Speech & Language Delay</a></li>
        <li><a href="#">SMA</a></li>
        <li><a href="#">Stomach cancer</a></li>
        <li><a href="#">Stroke</a></li>
        <li><a href="#">Syphilis</a></li>
        <li><a href="#">Tay Sachs disease</a></li>
        <li><a href="#">Test</a></li>
        <li><a href="#">Thalassaemia</a></li>
        <li><a href="#">Thrombocytopenia (newborn) </a></li>
        <li><a href="#">Thrombophilia (newborn)</a></li>
        <li><a href="#">Thrombophilia (pregnancy)</a></li>
        <li><a href="#">Thrombophilia</a></li>
        <li><a href="#">Thyroid disease</a></li>
        <li><a href="#">Toxoplasmosis</a></li>
        <li><a href="#">T18 and T13</a></li>
        <li><a href="#">Tyrosinaemia</a></li>
        <li><a href="#">Varicella susceptibility</a></li>
        <li><a href="#">Vasa praevia</a></li>
        <li><a href="#">Vascular risk</a></li>
        <li><a href="#">Vision Defects</a></li>
      </ul>
    </div>
  </div>

{% endblock %}
