$phe-nsc-green: #00B092;

.phe-header {
  color: $phe-nsc-green;
  font-family: Arial, sans-serif;
  height: 150px;
}

.phe-logo {
  height: 90px;
  float: left;
}

.phe-heading {
  float: left;
}

.phe-header__container.govuk-header__container {
  border-bottom: none;
}
