


// Public
.work-please{
  color: green;
  background: #005EA5;
  size: 20px;
}

@mixin label ($label-background: #DEE0E2, $label-border: #CBCBCB, $label-text: #0B0C0C) {
    background: $label-background;
    color: #FFF;
    display: inline-block;
    line-height: 1;
    padding: 12px 5px 3px 5px;
    margin: 0 calc(2 * #{5px}) 5px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 900;
    min-width: 72px;
    height: 25px;

}

.label {
    @include label(#6F777B, #0B0C0C)
}
.label--white {
    @include label(#FFF)
    color: #0B0C0C;
    border: 1px solid #CBCBCB;
}
.label--blue {
    @include label(#005EA5, #005EA5)
}

.label--red {
    @include label(#ffffff, #ffffff)
    color: black;
    font-weight: 500;
}

.label--green {
    @include label(#ffffff, #ffffff)
    color: black;
}

.label--grey {
    @include label(#6f777b, #6f777b)
}

@media (max-width: 641px) {
  .label, .label--white, .label--blue, .label--red {
    font-size: .85rem;
  }
}

.govuk-warning-text__icon{
  background: #005EA5;
  border: #005EA5;
}
