{% extends "layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        UK NSC internal system
      </h1>
      <p class="govuk-body">
       This platform is to update stakeholders and members of the public on conditions that are being revised by the UK NSC. All changes made will be reflected on the <a href="../public-view/homepage" target="_blank">UK NSC public website</a>.
      </p>
      <h2 class="govuk-heading-m">
        Your products in progress
      </h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col" style="width: 180px;">Name</th>
            <th class="govuk-table__header" scope="col">Conditions</th>
            <th class="govuk-table__header" scope="col">Product type</th>
            <th class="govuk-table__header" scope="col" style="width: 180px;">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell "><a href="">Diabetes review 2018/2019</a></td>
            <td class="govuk-table__cell ">
              <ul>
                <li>Diabetes</li>
              </ul>
            </td>
              <td class="govuk-table__cell">Evidence summary</td>
            <td class="govuk-table__cell">Open consultation</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell "><a href="">SMA 2020/2021</a></td>
            <td class="govuk-table__cell ">
              <ul>
                <li>Spinal Muscular Atrophy (SMA)</li>
              </ul>
            </td>
              <td class="govuk-table__cell">Evidence summary</td>
            <td class="govuk-table__cell">Post-consultation</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell "><a href="">Amino acid metabolism disorders review 2018/2019</a></td>
            <td class="govuk-table__cell ">
              <ul>
                <li>Argininosuccinate lyase deficiency</li>
                <li>Citrullinaemia</li>
              </ul>
            </td>
            <td class="govuk-table__cell">Evidence map</td>
            <td class="govuk-table__cell">In review</td>
          </tr>
        </tbody>
      </table>
      <p class="govuk-body"><a href="products-in-progress">View the whole team's products in progress.</a></p>
</br>
      <h2 class="govuk-heading-m">
        Conditions
      </h2>

      <p class="govuk-body">
        <a href="reviews" class="govuk-link" style="font-size: 19px; ">
          View all conditions
        </a>to start a new product or edit general information about a condition.
      </p>

      <h2 class="govuk-heading-m">
        Stakeholders
      </h2>
      <p class="govuk-body">
        <a href="stakeholder-index" class="govuk-link" style="font-size: 19px; ">
        View stakeholder contacts
      </a> to add and edit stakeholders.

<!--
      <h2 class="govuk-heading-m">
        Reviews scheduled to start this year
      </h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Condition</th>
            <th class="govuk-table__header" scope="col">Due</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell "><a href="">Autism</a></td>
            <td class="govuk-table__cell ">Overdue</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell "><a href="">Galactosaemia</a></td>
            <td class="govuk-table__cell ">1 month</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell "><a href="">Genital Herpes</a></td>
            <td class="govuk-table__cell ">2 months</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell "><a href="partner-violence">Partner violence</a></td>
            <td class="govuk-table__cell ">6 months</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell "><a href="partner-violence-pregnancy">Partner violence in pregnancy</a></td>
            <td class="govuk-table__cell ">6 months</td>
          </tr>
        </tbody>
      </table>
  </div>
  !-->
<!--
      <h2 class="govuk-heading-m">
        Policy pages
      </h2>
      <p class="govuk-body">
        Use this section to:
        <ul class="govuk-list govuk-list--bullet">
          <li>Edit policy pages</li>
          <li>Add a new policy page</li>
          <li>Deactivate a policy page</li>
        </ul>
      </p>
      <div class="link-menu" style="margin-bottom: 30px;">
      <a href="/v5-s0/admin-view/policy-index" class="govuk-link" style="font-size: 19px; ">
        View policy pages
      </a>
      </div>
      !-->

    </div>
  </div>

{% endblock %}
