{% extends "layout.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="reviews" class="govuk-back-link" >Back to all conditions</a>
        <h1 class="govuk-heading-l">
            Create a new condition
        </h1>

        <form action="new-condition-step-2" method="post" class="form">
            <div class="govuk-form-group">
                <label class="govuk-label" for="condition-name">
                    Enter condition name
                </label>
                <input class="govuk-input" id="condition-name" name="condition-name" type="text">
            </div>

            <div class="govuk-character-count" data-module="character-count" data-maxwords="100">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="description">
                        <h2 class="govuk-heading-m">Condition description</h2>
                    </label>

                    <span id="description-hint" class="govuk-hint">
                        Insert the condition description here and add a link to the NHS website as well.
                        Ensure that this is written in plain English and follows
                        <a href="#">Markdown formatting</a>.
                    </span>

                    <textarea class="govuk-textarea js-character-count " id="description" name="description" rows="5"></textarea>
                </div>
                <div id="word-count-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                </div>
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="weblink">
                    Weblink to NHS.UK
                </label>
                <input class="govuk-input" id="weblink" name="weblink" type="text">
            </div>

            <button class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>
        </form>
    </div>
</div>
{% endblock %}
