{% extends "layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="reviews" class="govuk-back-link" >Back to all reviews</a>
        <h1 class="govuk-heading-l">
        SMA 2020 review
      </h1>
      <strong class="govuk-tag " style="margin-top:-70px; float: right;">
        In open consulation
      </strong>
      <div style="color: white; padding: 10px 30px; margin: 0px 0 30px 0; background-color: #f3f2f1; font-family: 'nta'; src: url('/assets/fonts/light-2c037cf7e1-v1.eot');">
      <span id="email-hint" class="govuk-hint">
        <strong>Status update:</strong>
        <ul>
          <li>
              10 stakeholders and PHE Comms have been notified.
          </li>
          <li>
              The Spinal Muscular Atrophy 2020 review is in open consultation.
          </li>
          <li>
              View the published changes on the <a href="/topup/sma">Spinal Muscular Atrophy condition page</a>.
          </li>
        </ul>
      </span>
      </div>
      <ol class="app-task-list">

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">Consultation</span>
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="upload-review-doc" aria-describedby="external-review-completed">
                Upload external review document
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="conditions-and-dates-completed">
                ✓
              </strong>
            </li>
<!--
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="" aria-describedby="external-review-completed">
                Notify communications department
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="conditions-and-dates-completed">
                ✓
              </strong>
            </li>
            !-->
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="confirm-stakeholders" aria-describedby="external-review-completed">
                Confirm stakeholders to be notified
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="conditions-and-dates-completed">
                ✓
              </strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="upload-response-doc" aria-describedby="external-review-completed">
                Upload response form for consultation
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="conditions-and-dates-completed">
                ✓
              </strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="confirm-dates" aria-describedby="external-review-completed">
                Confirm dates of consultation
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="conditions-and-dates-completed">
                ✓
              </strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">Post-consultation</span>
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="post-consultation-step-1" style="width: 50%">
                Upload supporting documents
              </a>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="post-consultation-step-2" style="width: 50%">
                Upload plain English summary
              </a>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="post-consultation-step-3" style="width: 50%">
                Submit recommendation decision
              </a>
            </li>
          </ul>
        </li>
      </ol>
          <a href="govuk-link" style="color: red; font-weight: bold;">Delete this review</a>   </div>
  </div>

{% endblock %}
