{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/unbranded.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/public/stylesheets/phe-nsc-alpha.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <!-- <img src="{{ asset_path }}images/phe_nsc_logo.jpg" alt="UK NSC logo" style="height: 42px; border-left: 3px solid #00B092; padding-left: 7px;"> -->
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <img src="{{ asset_path }}images/nsc-logo.png" alt="UK NSC logo" style="height: 42px; position: relative; bottom:23px">
        <a class="govuk-breadcrumbs__link" href="#" style="position: relative; bottom: 26px">
          UK National Screening Committee
        </a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Recommendations</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Spinal Muscular Atrophy</li>
    </ol>
  </div>


  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Spinal Muscular Atrophy (SMA) <span id="type-tag">Adult</span></h1>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Recommendation</h2>
        <p class="govuk-body govuk-!-font-weight-bold">
          <span id="not-recommended">Screening is not currently recommended for this condition</span>
        </p>

        <h2 class="govuk-heading-l">More about SMA</h2>
        <p class="govuk-body">
          Spinal muscular atrophy (SMA) is a genetic disease that causes muscle weakness and a progressive loss of movement. There are four types of SMA that vary in terms of the age those sufferers develop symptoms and also the severity of the symptoms they can have. There is no cure but therapy and support are available to help manage the condition.
        </p>
        <p class="govuk-body">
          SMA causes the motor neurones in a certain area of the spinal cord to deteriorate. This can result in progressive muscle wasting and loss of ability to move parts of the body. SMA is rare, with an estimated 5,500 to 6,000 people with SMA at any one time in the UK.
        </p>
        <p class="govuk-body">
          <a href="#" class="govuk-link">Read more on NHS Choices</a>
        </p>

        <h2 class="govuk-heading-l">Downloads</h2>
        <div class="govuk-inset-text">
          <p>
            <a class="govuk-link" href="#">Recommendation statement</a>
            <br>
            This is a plain english summary of the UK NSC's current recommendation for this condition
          </p>
        </div>
        <div class="govuk-inset-text">
          <p>
            <a class="govuk-link" href="#">Last evidence review</a>
            <br>
            This is the previous evidence review conducted to investigate whether the condition should be screened or not
          </p>
        </div>
        <div class="govuk-inset-text">
          <p>
            <a class="govuk-link" href="#">Last evidence review summary</a>
            <br>
            This is the most recent evidence review plus consultation responses
          </p>
        </div>

        <h2 class="govuk-heading-l">Organisations interested in SMA</h2>
        <p class="govuk-body">
          These organisations have expressed interest in this recommendation and may submit responses to evidence reviews.
        </p>
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="#">The British Society for Human Genetics</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Faculty of Public Health</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Muscular Dystrophy Campaign</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Royal College of General Practitioners</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Royal College of Paediatrics and Child Health</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Royal College of Physicians</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Royal College of Physicians and Surgeons of Glasgow</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Royal College of Physicians of Edinburgh</a>
          </li>
          <li>
            <a class="govuk-link" href="#">SMA Trust</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Spinal Muscular Atrophy Support UK</a>
          </li>
        </ul>
        <p class="govuk-body">
          The stakeholder groups will be involved when the recommendation is next reviewed. If you think your organisation should be added, please <a class="govuk-link" href="#">contact us</a>. More information for stakeholders can be found in appendix C of the <a class="govuk-link" href="#">UK NSC evidence review process</a>.
        </p>

      </div>
    </div>

  </main>
</div>

{% endblock %}
