{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/unbranded.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/public/stylesheets/phe-nsc-alpha.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="sma-10-stakeholders-set" class="govuk-back-link" >Back</a>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h2 class="govuk-fieldset__heading">
                  When do you want to open this consultation?
                </h2>
              </legend>

              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name-1" name="changed-name" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="changed-name-1">
                    Now - open this consultation now and email 10 stakeholders
                  </label>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="changed-name-2">
                    Schedule this consultation to automatically open on a later date
                  </label>
                </div>
                <br>
                <br>
                <br>
                <div class="govuk-date-input" id="dob">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="dob-day">
                        Day
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2 " id="dob-day" name="dob-day" type="number" pattern="[0-9]*">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="dob-month">
                        Month
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2 " id="dob-month" name="dob-month" type="number" pattern="[0-9]*">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="dob-year">
                        Year
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4 " id="dob-year" name="dob-year" type="number" pattern="[0-9]*">
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <a href="confirmation-yes" role="button" class="govuk-button">Save and continue</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
