{% extends "layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <a href="reviews" class="govuk-back-link" >Back to all conditions</a>
          </br>
          </br>

      <h1 class="govuk-heading-xl">
        Atrial Fibrillation
      </h1>


      <h3>Current recommendation </h3>
      <p class="recommendation-status-preview">Not recommended</p>


      <h3>Date previous review completed</h3>
      <p>August 2017</p>

      <h3>
        Date next review expected to open
      </h3>
      <p>2020</p>

      <div class="important-downloads">
        <h3>Supporting documents for download</h3>
        <p>Documents from SMA 2017 Review</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            Recommendation statement - <a href="#">Recommendation statement - Jan 2017</a>
          </li>
          <li>Previous evidence review - <a href="#">Last external review - Review of screening for Alcohol misuse Jan 2017</a>
          </li>
          </ul>
      </div>

      <div class="govuk-form-group">
        <h3>Plain English summary</h3>
        <p>Key findings</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the most common tests for alcohol misuse are questionnaires which are unsuitable when used
        within a whole population screening programme.</li>
        <li>different people can safely drink different amounts of alcohol, depending on factors such as their
        age, sex and ethnicity. For a screening test to be reliable it will have to consider these factors by
        defining test ‘cut-off levels’.</li>
        <li>the review did not find any research that showed a whole population screening programme would help
        to reduce the harms from alcohol misuse in the long term</li>
        </ul>
<p><a href="https://www.gov.uk/nsc/alcohol-misuse/evidence-review/">Read more about the evidence for alcohol misuse through the evidence review]</a></p>
      </div>

      <div class="preview-general-information">
      <h3>More about alcohol misuse</h3>

      <p>
      Drinking a moderate amount of alcohol will not do you any physical or psychological harm. However, for some people, social drinking can lead to heavier drinking, which can cause serious health problems.
      </p>

      <p><a href="https://www.nhs.uk/conditions/alcohol-misuse/">Read more about alcohol misuse on NHS Choices</a></p>

      </div>

      <div class="preview-general-information">
      <h3>
      Review history
      </h3>

      <p>
      This condition has been reviewed in close collaboration with the Institute of Blah Blah at the University of Academia.
      </p>
      </div>

      <div class="stakeholders-list">
        <h3>Stakeholders consulted for this condition</h3>
        <ul class="govuk-list">
          <li><a href="#">Addaction</a></li>
          <li><a href="#">Addiction Recovery Foundation</a></li>
          <li><a href="#">Al-Anon</a></li>
          <li><a href="#">Alcohol Concern</a></li>
          <li><a href="#">Alcohol Focus Scotland</a></li>
          <li><a href="#">Alcoholics Anonymous</a></li>
          <li><a href="#">British Association for Study of the Liver</a></li>
          <li><a href="#">British Liver Nurses' Forum</a></li>
          <li><a href="#">The British Liver Trust</a></li>
          <li><a href="#">The British Psychological Society</a></li>
          <li><a href="#">British Society of Gastroenterology</a></li>
          <li><a href="#">British Society of Lifestyle Medicine</a></li>
          <li><a href="#">Faculty of Public Health</a></li>
          <li><a href="#">Institute of Alcohol Studies</a></li>
          <li><a href="#">Mental Health Foundation</a></li>
          <li><a href="#">Prostate UK</a></li>
          <li><a href="#">Royal College of General Practitioners</a></li>
          <li><a href="#">Royal College of Nursing</a></li>
          <li><a href="#">Royal College of Physicians</a></li>
          <li><a href="#">Royal College of Physicians and Surgeons of Glasgow</a></li>
          <li><a href="#">Royal College of Physicians of Edinburgh</a></li>
          <li><a href="#">Royal College of Psychiatrists</a></li>
        </ul>
      </div>




    </div>
    <div class="govuk-grid-column-one-third" style="padding-top: 70px">
      <a class="govuk-button" role="button" style="float: right;" href="new-review-start">
        Create new product
      </a>
      <br><br><br><br>
      <a href="policy-edit" role="button" class="govuk-button govuk-button--secondary" style="float: right;">
        Edit information
      </a>
    </div>
    </div>



{% endblock %}
