{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/unbranded.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/public/stylesheets/phe-nsc-alpha.css" media="screen" rel="stylesheet" type="text/css">

  {{ super() }}
  <link href="/public/stylesheets/uk-nsc-beta.css"  rel="stylesheet" type="text/css">


{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <a href="search" class="govuk-back-link">Back</a>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">
      <span class="govuk-caption-l">Adult screening</span>
        Atrial fibrillation
    </h1>

    <style type="text/css">
@media screen and (min-width:940px) and (max-width:1020px) {
   .submit-comments-wrapper {
    margin-right:-30% !important;
   }
}
@media screen and (min-width:880px) and (max-width:940px) {
   .submit-comments-wrapper {
    margin-right:-40% !important;
   }
}
@media screen and (min-width:820px) and (max-width:880px) {
   .submit-comments-wrapper {
    margin-right:-50% !important;
   }
}
@media screen and (max-width:768px) {
   .submit-comments-wrapper {
    margin-right: 0 !important;
   }
}
</style>

<div class="govuk-warning-text submit-comments-wrapper" style="border: 3px solid #005EA5;padding: 15px 15px 0 15px;/* margin-right: -20%; */">
  <span class="govuk-warning-text__icon" style="margin-left:15px; margin-top: -35px;" aria-hidden="true">!</span>
  <p class="govuk-warning-text__text" style="
    /* margin-bottom: 0; */
">
    <strong>
    <span class="govuk-warning-text__assistive">Warning</span>
    We are currently accepting public comments on this condition.<br></strong>

<a href="consultation" role="button" draggable="false" class="govuk-button" data-module="govuk-button" style="/* float: right; *//* width: 50%; */margin: 1.5% 1.5% 1.5% 0;width: auto;/* margin-left: 0; *//* margin:  0 auto; *//* text-align: center; *//* margin-left: 25%; */">
Submit comments
</a>

    <br>Closing date: 14 August 2020
    <br>Scheduled UK NSC meeting date: 25 September 2020</p>

</div>

        <p class="govuk-body">
          Atrial fibrillation (AF) causes a fast and erratic heart beat. It is a complication of various diseases. Medication can slow the heart rate back to normal, and ease symptoms. In some cases, treatment can restore the heart back to a normal rhythm.
        </p>

        <p class="govuk-body">
        Read more about <a href="https://www.nhs.uk/conditions/atrial-fibrillation/" class="govuk-link">atrial fibrillation</a> on the NHS website.
        </p>


        <h2 class="govuk-heading-m" style="margin-bottom: 1.5%;">UK NSC screening recommendation</h2>
          <p class="govuk-body">The last UK NSC review of this condition took place in August 2019.</p>

        <p class="govuk-body govuk-!-font-weight-bold recommendation-badge">
          <span id="not-recommended">Screening is not currently recommended for this condition.</span>
        </p>

        <p class="govuk-body">
          The UK NSC does not recommend a national screening programme for atrial fibrillation (AF) because:
        </p>

        <ul class="govuk-list govuk-list--bullet">
         <li>there are different types of AF and it is not clear if these all have the same risk for stroke</li>
         <li>it is not known how effective treatment for AF is in people found through screening</li>
         <li>it is not known if screening is more beneficial for people with AF than the current approach</li>
        </ul>

        <h2 class="govuk-heading-m">Supporting documents from the 2019 review</h2>
            <a class="govuk-link" href="#" style="font-size: 20px;">Evidence summary atrial fibrillation (2019)</a>
            <p class="govuk-body-m">
              This document provides the evidence on which the current UK NSC recommendation is based.
            </p>


            <a class="govuk-link" href="#" style="font-size: 20px;">UK NSC coversheet & consultation responses atrial fibrillation (2019)</a>
            <br>
            <p class="govuk-body-m">
              This document summarises the review process including the public consultation comments.
          </p>

          <h2 class="govuk-heading-m">Review dates</h2>
          <p class="govuk-body">This condition is currently in review.</p>
          <p class="govuk-body">Last review completed: August 2019</p>
          <p class="govuk-body">Next review expected to be completed: January 2023 to January 2024</p>
          <p class="govuk-body">Previous evidence reviews are available on the <a class="govuk-link" href="#">UK NSC archive</a>.</p>



        <h2 class="govuk-heading-m">Organisations interested in atrial fibrillation</h2>
        <p class="govuk-body">
          These organisations have expressed interest in this recommendation and may submit responses to evidence reviews.
        </p>

        <h3 class="govuk-heading-s">
          List of organisations
        </h3>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">AF Association</a>
      </li>
      <li>
        <a class="govuk-link" href="#">AntiCoagulation Europe</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Arrhythmia Alliance</a>
      </li>
      <li>
        <a class="govuk-link" href="#">British Cardiovascular Society</a>
      </li>
      <li>
        <a class="govuk-link" href="#">British Heart Foundation</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Central & East London Comprehensive Local Research Network</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Education for Health</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Faculty of Public Health</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Heart Rhythm UK</a>
      </li>
      <li>
        <a class="govuk-link" href="#">HEART UK</a>
      </li>
      <li>
        <a class="govuk-link" href="#">NHS Improvement</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Royal College of General Practitioners</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Royal College of Nursing</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Royal College of Physicians</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Royal College of Physicians and Surgeons of Glasgow</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Royal College of Physicians of Edinburgh</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Royal College of Surgeons</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Stroke Association</a>
      </li>
    </ul>

        <p class="govuk-body">
       If you think your organisation should be added, please <a class="govuk-link" href="#">contact us</a>. More information for organisations can be found in appendix C of the <a class="govuk-link" href="#">UK NSC evidence review process</a>.
        </p>


      </div>
      <div class="govuk-grid-column-one-third">
        <a class="govuk-link" href="subscribe-start">Subscribe to alerts on this topic</a>
    </div>
    </div>


{% endblock %}
