{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/unbranded.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/public/stylesheets/phe-nsc-alpha.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <a href="search" class="govuk-back-link">Back</a>
        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l">Adult screening programme</span>
              Anaemia</h1>


              <p class="govuk-body">
                Anaemia is a condition caused by a lack of red blood cells, resulting in weakness, breathlessness and reduced energy. It is quite common during pregnancy when a woman needs more iron and other vitamins.
              </p>

              <p class="govuk-body">
                <a href="#" class="govuk-link">Read more on NHS UK</a>
              </p>

        <h2 class="govuk-heading-m">
          UK NSC's screening recommendation
          <span class="govuk-caption-m">The last UK NSC review of this condition occurred in July 2006. </span>
        </h2>
        <p class="govuk-body govuk-!-font-weight-bold recommendation-badge">
          <span id="not-recommended">Screening is not currently recommended for this condition</span>
        </p>
        <h2 class="govuk-heading-s">
          Guidelines covered by NICE</h2>
        <p class="govuk-body">
        All pregnant women should be offered a test for anaemia. Read more about <a href="">NICE recommendation.</a></p>
        <!-- not sure if in or out
        <p class="govuk-body">
          Following a review of the evidence against strict criteria, the UK NSC currently recommends introducing a national screening programme for carrier or new-born screening for spinal muscular atrophy.
        </p>

        <p class="govuk-body">
          Key findings supporting the UK NSC recommendation from 2006:
        </p>

        <ul class="govuk-list govuk-list--bullet">
         <li>All pregnant women should be offered a test for anaemia.</li>
        </ul>
  !-->

        <h2 class="govuk-heading-s">2006 Supporting documents</h2>
        <a class="govuk-link" href="#" style="font-size: 20px;">Evidence summary</a>
        <p class="govuk-body-m">
        This is the previous evidence review conducted to investigate whether the condition should be screened or not
        </p>
        <a class="govuk-link" href="#" style="font-size: 20px;">Recommendation overview and consultation responses</a>
        <br>
        <p class="govuk-body-m">This is the most recent evidence review plus consultation responses
        </p>


        <h2 class="govuk-heading-s">2006 Supporting documents</h2>
        <p class="govuk-body-m">In 2006, the UK NSC did not recommend whole population screening for this condition.</p>
        <a class="govuk-link" href="#" style="font-size: 20px;">Evidence summary</a>
        <p class="govuk-body-m">
        This is the evidence review conducted to investigate whether the condition should be screened or not
        </p>
        <a class="govuk-link" href="#" style="font-size: 20px;">UK NSC coversheet & public comments</a>
        <br>
        <p class="govuk-body-m">This is the 2006 evidence review plus consultation responses
        </p>


        <h2 class="govuk-heading-m">Review cycle</h2>
        <p class="govuk-body">Last review completed: 2006</p>
        <p class="govuk-body">Next review estimated to be completed: 2013 to 2014</p>
        <p class="govuk-body">To see previous evidence reviews, visit the <a class="govuk-link" href="#">UK NSC archive.</a></p>




        <h2 class="govuk-heading-m">Organisations interested in Anaemia</h2>
        <p class="govuk-body">
          These organisations have expressed interest in this recommendation and may submit responses to evidence reviews.
        </p>

        <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      List of organisations
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Faculty of Public Healths</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Royal College of General Practitioners</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Royal College of Obstetricians and Gynaecologists</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Royal College of Physicians</a>
      </li>
      <li>
        <a class="govuk-link" href="#"> Royal College of Physicians and Surgeons of Glasgow</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Royal College of Physicians of Edinburgh</a>
      </li>
    </ul>
  </div>
</details>

        <p class="govuk-body">
          The stakeholder groups will be involved when the recommendation is next reviewed. If you think your organisation should be added, please <a class="govuk-link" href="#">contact us</a>. More information for stakeholders can be found in appendix C of the <a class="govuk-link" href="#">UK NSC evidence review process</a>.
        </p>

      </div>
    </div>

  </main>
</div>

{% endblock %}
