{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/unbranded.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/public/stylesheets/phe-nsc-alpha.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <a href="search" class="govuk-back-link">Back</a>
        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l">Adult screening programme</span>
              Breast cancer</h1>


              <p class="govuk-body">
                In the UK, breast cancer is the most common type of cancer among women. Approximately 45,000 cases of breast cancer are diagnosed every year, usually in women who are over 50 years of age and who have reached menopause. However, it is possible for women of any age to be affected by breast cancer and, in rare cases, the condition can also affect men.
              </p>

              <p class="govuk-body">
                <a href="#" class="govuk-link">Read more on NHS UK</a>
              </p>

        <h2 class="govuk-heading-m">
          UK NSC's screening recommendation
          <span class="govuk-caption-m">The last UK NSC review of this condition occurred in April 2019. </span>
        </h2>
        <p class="govuk-body govuk-!-font-weight-bold recommendation-badge">
          <span id="recommended">Screening is currently recommended for this condition</span>
        </p>

        <p class="govuk-body">
          Following a review of the evidence against strict criteria, the UK NSC currently recommends introducing a national screening programme for carrier or new-born screening for spinal muscular atrophy.
        </p>

        <p class="govuk-body">
          Key findings supporting the UK NSC recommendation from 2018:
        </p>

        <ul class="govuk-list govuk-list--bullet">
         <li>there was is evidence about how acceptable the screening programme is</li>
         <li>there is evidence on how to support individuals who need to make difficult decisions following carrier screening</li>
        </ul>


        <h2 class="govuk-heading-s">2019 Supporting documents</h2>
        <a class="govuk-link" href="#" style="font-size: 20px;">Evidence summary</a>
        <p class="govuk-body-m">
        This is the previous evidence review conducted to investigate whether the condition should be screened or not
        </p>
        <a class="govuk-link" href="#" style="font-size: 20px;">Recommendation overview and consultation responses</a>
        <br>
        <p class="govuk-body-m">This is the most recent evidence review plus consultation responses
        </p>


        <h2 class="govuk-heading-s">2014 Supporting documents</h2>
        <p class="govuk-body-m">In 2014, the UK NSC did not recommend screening for this condition.</p>
        <a class="govuk-link" href="#" style="font-size: 20px;">Evidence summary</a>
        <p class="govuk-body-m">
        This is the evidence review conducted to investigate whether the condition should be screened or not
        </p>
        <a class="govuk-link" href="#" style="font-size: 20px;">Recommendation overview and consultation responses</a>
        <br>
        <p class="govuk-body-m">This is the 2014 evidence review plus consultation responses
        </p>


        <h2 class="govuk-heading-m">Review cycle</h2>
        <p class="govuk-body">Last review completed: 2019</p>
        <p class="govuk-body">Next review estimated to be completed: 2021 to 2022</p>
        <p class="govuk-body">To see previous evidence reviews, visit the <a class="govuk-link" href="#">UK NSC archive.</a></p>




        <h2 class="govuk-heading-m">Organisations interested in Spinal Muscular Atrophy</h2>
        <p class="govuk-body">
          These organisations have expressed interest in this recommendation and may submit responses to evidence reviews.
        </p>

        <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      List of organisations
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">The British Society for Human Genetics</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Faculty of Public Health</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Muscular Dystrophy Campaign</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Royal College of General Practitioners</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Royal College of Paediatrics and Child Health</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Royal College of Physicians</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Royal College of Physicians and Surgeons of Glasgow</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Royal College of Physicians of Edinburgh</a>
      </li>
      <li>
        <a class="govuk-link" href="#">SMA Trust</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Spinal Muscular Atrophy Support UK</a>
      </li>
    </ul>
  </div>
</details>

        <p class="govuk-body">
          The stakeholder groups will be involved when the recommendation is next reviewed. If you think your organisation should be added, please <a class="govuk-link" href="#">contact us</a>. More information for stakeholders can be found in appendix C of the <a class="govuk-link" href="#">UK NSC evidence review process</a>.
        </p>

      </div>
    </div>

  </main>
</div>

{% endblock %}
