{% extends "layout.html" %}

{% block head %}
    <link href="/public/stylesheets/unbranded.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/public/stylesheets/phe-nsc-alpha.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <a href="consultation" class="govuk-back-link">Back</a>
            <h1 class="govuk-heading-l">
                <span class="govuk-caption-l">Atrial Fibrillation</span>
                Consultation comments submitted
            </h1>

            <p class="govuk-body">
                Thank you for your comments on this consultation for Atrial Fibrillation.
            </p>

            <h3 class="govuk-heading-s">What happens next</h3>

            <p class="govuk-body">
                This consultation closes on 21 November 2018.
            </p>
            <p class="govuk-body">
                Your comments will be reviewed alongside others received in the consultation at a future UK NSC meeting.
            </p>
            <p class="govuk-body">
                The UK NSC makes recommendations on whether screening should be carried out based on evidence available.
                Comments received will also be taken into account. You will receive a notification email when the
                recommendation status has been updated.
            </p>
            <a class="govuk-link" href="subscribe-start">Subscribe to alerts on this topic</a>
        </div>
    </div>

{% endblock %}
