{% extends "layout.html" %}

{% block head %}
    <link href="/public/stylesheets/unbranded.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/public/stylesheets/phe-nsc-alpha.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <a href="af-in-consultation" class="govuk-back-link">Back</a>
            <h1 class="govuk-heading-l">
                <span class="govuk-caption-l">Atrial Fibrillation</span>
                Submit comments during the public consultation
            </h1>

            <p class="govuk-body">
                If you are a health professional or responding on behalf of an organisation:
            </p>
            <a class="govuk-button" href="submit-comments-organisation">
                Respond as a professional or organisation
            </a>
            <p class="govuk-body">
              If you are responding in any other capacity:
            </p>
            <a class="govuk-button" href="submit-comments-public-v3">
                Respond as a member of the public
            </a>

            <h3 class="govuk-heading-s">How consultations work</h3>

            <p class="govuk-body">
                Find out more about the <a class="govuk-link" href="#">UK NSC's consultation process</a>.
            </p>
            <p class="govuk-body">
                Responses provided to this consultation may be published according to our
                <a class="govuk-link" href="#">confidentiality policy</a>.
            </p>
            <p class="govuk-body">
                For help submitting a consultation, contact the <a class="govuk-link" href="#">screening helpdesk</a>.
            </p>
        </div>
    </div>

{% endblock %}
