{% extends "layout.html" %}
{% from "character-count/macro.njk" import govukCharacterCount %}

{% from "character-count/macro.njk" import govukCharacterCount %}

{{ govukCharacterCount({
  name: "with-hint",
  id: "with-hint",
  maxlength: 20000,
  label: {
    text: "If your comments relate to specific review sections or page numbers, please indicate this in the text. e.g [page 3, paragraph 2] ...
"
  },
  hint: {
    text: ""
  }
}) }}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <a href="consultation" class="govuk-back-link">Back</a>

  <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Atrial Fibrillation</span>
        Submit your comments
    </h1>

      <h2>About you</h2>

      <div class="govuk-form-group">
        <label class="govuk-label" for="name">
          Name
        </label>
        <input class="govuk-input" id="name" name="email" type="text" aria-describedby="email-hint">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="email">
          Email
        </label>
        <input class="govuk-input" id="email" name="email" type="text" aria-describedby="email-hint">
      </div>


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <label class="govuk-label" for="role">
            Do you consent to your name being published on the UK NSC website alongside your response?
          </label>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name-1" name="changed-name" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="changed-name-1">
                Yes
              </label> </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                  No
                </label> </div>
          </div>
        </fieldset>
      </div>


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <label class="govuk-label" for="role">
            Would you like to be updated when the UK NSC has reviewed the condition?
          </label>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name-1" name="changed-name" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="changed-name-1">
                Yes
              </label> </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no" checked>
                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                  No
                </label> </div>
          </div>
        </fieldset>
      </div>


      <div class="govuk-character-count" data-module="character-count" data-maxlength="20000">
        <div class="govuk-form-group">
          <label class="govuk-label" for="with-hint">
            <h2>Consultation comments</h2>
          </label>
          <p>Provide your views in the  following field. Here are some sample questions to help you:</a></p>

          <ul class="govuk-list govuk-list--bullet">
              <li>How has this condition effected your or your loved ones life?</li>
              <li>Why do you think screening should or should not be recommended?</li>
          </ul>


      <span id="with-hint-hint" class="govuk-hint">
      </span>
      <textarea class="govuk-textarea js-character-count " id="with-hint" name="with-hint" rows="5" aria-describedby="with-hint-hint"></textarea>
    </div>

    <span id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
      You can enter up to 20,000 characters
    </span>
  </div>

  <a href="form-submitted" role="button" class="govuk-button">Send consultation feedback</a>


{% endblock %}
