{% extends "layout.html" %}

{% from "character-count/macro.njk" import govukCharacterCount %}

{{ govukCharacterCount({
  name: "message",
  id: "message",
  maxlength: 20000,
  label: {
    text: "If your comments relate to specific review sections or page numbers, please indicate this in the text. e.g [page 3, paragraph 2] ...
"
  },
  hint: {
    text: ""
  }
}) }}

{% block content %}
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
                alpha
            </strong>
            <span class="govuk-phase-banner__text">
                This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
            </span>
        </p>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <a href="homepage" class="govuk-back-link">Back</a>

            <h1 class="govuk-heading-l">Contact the UK National Screening Committee</h1>

            <p class="govuk-body">
                <a class="govuk-link" href="https://www.gov.uk/government/groups/uk-national-screening-committee-uk-nsc">
                    The UK National Screening Committee
                </a>
                (UK NSC) makes recommendations on all aspects of population screening in the UK. See the
                <a class="govuk-link" href="https://www.gov.uk/government/publications/uk-nsc-evidence-review-process">
                    UK NSC evidence review process
                </a>
                and
                <a class="govuk-link" href="https://www.gov.uk/government/publications/uk-nsc-evidence-review-process/appendix-c-stakeholder-information">
                    UK NSC stakeholder information
                </a>
                for details on how to submit proposals for screening and how to respond to consultations.
            </p>
            <p class="govuk-body">
                Complete and submit this form for any other issues relating to the UK NSC and its recommendations.
            </p>

            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    Please do not send or provide any sensitive, confidential or patient identifiable information to
                    the helpdesk
                </strong>
            </div>

            <hr style="margin-bottom: 20px">

            <form action="help-desk-submitted" method="post">
                <div class="govuk-form-group">
                    <label for="name" class="govuk-label">Name</label>
                    <input name="name" class="govuk-input" id="name" type="text">
                </div>
                <div class="govuk-form-group">
                    <label for="organisation" class="govuk-label">Organisation (if any)</label>
                    <input name="organisation" class="govuk-input" id="organisation" type="text">
                </div>
                <div class="govuk-form-group">
                    <label for="role" class="govuk-label">Your role (if appropriate)</label>
                    <input name="role" class="govuk-input" id="role" type="text">
                </div>
                <div class="govuk-form-group">
                    <label for="country" class="govuk-label">Country</label>
                    <select class="govuk-select" id="country" name="country">
                        <option value="" selected>Please select</option>
                        <option value="England">England</option>
                        <option value="Northern Ireland">Northern Ireland</option>
                        <option value="Scotland">Scotland</option>
                        <option value="Wales">Wales</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="govuk-form-group">
                    <label for="subject" class="govuk-label">Subject</label>
                    <div id="subject-hint" class="govuk-hint">
                        Please write what your email is about
                    </div>
                    <input name="subject" class="govuk-input" id="subject" type="text">
                </div>
                <div class="govuk-form-group">
                    <label for="topic" class="govuk-label">Topic</label>
                    <div id="topic-hint" class="govuk-hint">
                        Start typing to see a list of possible topics
                    </div>
                    <input name="topic" class="govuk-input" id="topic" type="text">
                </div>
                <div class="govuk-character-count" data-module="character-count" data-maxlength="2000">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="message">Message</label>
                        <textarea class="govuk-textarea js-character-count " id="message" name="message" rows="5"></textarea>
                    </div>
                    <span id="message-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                        You can enter up to 20,00 characters
                    </span>
                </div>
                <div class="govuk-form-group">
                    <label for="email" class="govuk-label">Email</label>
                    <input name="email" class="govuk-input" id="email" type="text">
                </div>

                <button class="govuk-button" type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
