
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]--><!--[if gt IE 8]><!--><html lang="en">
<!--<![endif]-->
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta property="og:description" content="The UK National Screening Committee advises on all aspects of screening policy in the UK">
<meta property="og:title" content="UK National Screening Committee">
<meta property="og:url" content="https://www.gov.uk/government/groups/uk-national-screening-committee-uk-nsc">
<meta property="og:type" content="article">
<meta property="og:site_name" content="GOV.UK">

    <meta charset="utf-8">
    <title>UK National Screening Committee - GOV.UK</title>

    <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-c0b8ba8b1652aacad298d74f24752260187f538b50c40c2484f7f333cbc3cf2b.css" crossorigin="anonymous" integrity="sha256-wLi6ixZSqsrSmNdPJHUiYBh/U4tQxAwkhPfzM8vDzys=">
<!--<![endif]-->
    <!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie6-2c1bb089ee71d4d70a08ba94e4b363a99542c8feddf3aa979bc4f8962aed5e02.css" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie7-062e553ef49a9f884a3a1f885c8a18e829b6557046b075e1384f6092a60151d1.css" /><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie8-11027733d1abeac34c7bf14e37fea30366ad3a87cfd7f7a084de3a3b4b838412.css" /><![endif]-->
    <link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css" crossorigin="anonymous" integrity="sha256-EHZRlSHC//u/das7DTsy7i2WrH6XePHN+sF3Hu/RocA=">

    <link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-e9ec5a5f82e5c2a17927ce356e5a054cb28025ec1547ec5d00f5c98d2ec5e481.css" crossorigin="anonymous" integrity="sha256-6exaX4LlwqF5J841bloFTLKAJewVR+xdAPXJjS7F5IE=">
    <!--[if lt IE 9]><script src="https://assets.publishing.service.gov.uk/static/ie-a4524544a53d57a7e259b4bb966b9c32557c98c920b77e52d09304642b68401a.js" crossorigin="anonymous" integrity="sha256-pFJFRKU9V6fiWbS7lmucMlV8mMkgt35S0JMEZCtoQBo="></script><![endif]-->

    <link rel="shortcut icon" href="https://assets.publishing.service.gov.uk/static/favicon-8d811b8c3badbc0b0e2f6e25d3660a96cc0cca7993e6f32e98785f205fc40907.ico" type="image/x-icon">
    <link rel="mask-icon" href="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown-de738c3fcce8ce2a91b67e89787090dc24a5cda0275ab6b75f6226c5b9619d3d.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-180x180-ea1cbb1cbbeddfff275dfa6e8e46b84cd530892df79dc4882a8f99b802b49a90.png">
    <link rel="apple-touch-icon" sizes="167x167" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-167x167-181e404a50c572923285fb83f0fbd78da6b4e38e3ce52f8e6b8e29da8586450a.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-152x152-02457fcdcee8d309276305af2233d41bfb8fd055e855727d355e61bce7ffa9bb.png">
    <link rel="apple-touch-icon" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-a318f305290c523aed80082456175b46c95350c0eeac93f42e78a71c7a55544e.png">

    <meta name="theme-color" content="#0b0c0c">

    <meta name="viewport" content="width=device-width, initial-scale=1">

      <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-07b12dfd6f1448f9159b3258577d77e99c721a7deada3e526aed8d76aec8243d.css" crossorigin="anonymous" integrity="sha256-B7Et/W8USPkVmzJYV3136ZxyGn3q2j5Sau2Ndq7IJD0=">
<!--<![endif]-->
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie6-26e76ec40b2cbb00b0736f5206b6409f4fefa860c287d28c2471ecbac6ce4d52.css" /><script>var ieVersion = 6;</script><![endif]-->
<!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie7-6451a3204df5a845cfd14d41a74ea7ab92749a471200aaa575fe8167dae3583a.css" /><script>var ieVersion = 7;</script><![endif]-->
<!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie8-2c694c1333d33cd239fbb2aa14ac1205115da0b5a5f7236939973c786326121b.css" /><script>var ieVersion = 8;</script><![endif]-->

<link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/core-layout-print-9a2de3ce1590c8ca478a6f7edf5a2e4bad0c6291b1dd4a6e7ca85f653d9591b4.css" crossorigin="anonymous" integrity="sha256-mi3jzhWQyMpHim9+31ouS60MYpGx3UpufKhfZT2VkbQ=">



    <meta property="og:image" content="https://assets.publishing.service.gov.uk/static/opengraph-image-a1f7d89ffd0782738b1aeb0da37842d8bd0addbd724b8e58c3edbc7287cc11de.png">
  <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/collections/application-6f575d2d0a18e612c462a57e7243b25a159402cb6a6da32467cca7808a0fa245.css">
<!--<![endif]--><link rel="alternate" type="application/json" title="Dounreay " href="https://www.gov.uk/api/organisations/dounreay">
<link rel="alternate" type="application/atom+xml" title="Dounreay " href="https://www.gov.uk/government/organisations/dounreay.atom">
<link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/collections/print-65f8214d05bb0a8f5873263e662048e820296949974909037632d113b546c2c4.css" crossorigin="anonymous" integrity="sha256-ZfghTQW7Co9YcyY+ZiBI6CApaUmXSQkDdjLRE7VGwsQ=">
<link rel="canonical" href="https://www.gov.uk/government/organisations/dounreay">
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/collections/application-ie6-673bc0125467f121055c8f4a5f57a1e702c1b310b719127c2c64e42c665d4461.css" /><script>var ieVersion = 6;</script><![endif]--><!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/collections/application-ie7-74ce0ec1613e21ad8e035401721fc132f55c810ce0814a1c1ac7c8cdfcf0fb54.css" /><script>var ieVersion = 7;</script><![endif]--><!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/collections/application-ie8-4c6231438ec4126c3b2461bfc62553f909caf9e9a07a4fc0c016f39f63958963.css" /><script>var ieVersion = 8;</script><![endif]--><meta name="govuk:rendering-application" content="collections">
</head>

  <body>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>


<div id="global-cookie-message" class="gem-c-cookie-banner" data-module="cookie-banner">
  <div class="gem-c-cookie-banner__wrapper govuk-width-container">
    <p class="gem-c-cookie-banner__message">GOV.UK uses cookies to make the site simpler. <a class="govuk-link" href="/help/cookies" data-module="track-click" data-track-category="cookieBanner" data-track-action="Cookie banner clicked">Find out more about cookies</a> <span class="gem-c-cookie-banner__hide-link">or <a class="govuk-link" href="#" data-hide-cookie-banner="true" data-module="track-click" data-track-category="cookieBanner" data-track-action="Cookie banner hidden">hide this message</a></span></p>
  </div>

</div>


    <header role="banner" id="global-header" class="">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content" data-module="track-click" data-track-category="homeLinkClicked" data-track-action="homeHeader">
              <img src="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown_invert_trans-203e1db49d3eff430d7dc450ce723c1002542fe1d2bce661b6d8571f14c1043c.png" width="36" height="32" alt=""> GOV.UK
            </a>
          </div>
            <a href="#search" class="search-toggle js-header-toggle">Search</a>

  <form id="search" class="site-search" action="/search" method="get" role="search">
    <div class="content">
      <label for="site-search-text">Search</label>
      <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
      <input class="submit" type="submit" value="Search">
    </div>
  </form>

        </div>

      </div>
    </header>

      <div id="user-satisfaction-survey-container"></div>


    <div id="global-header-bar"></div>



  <div class="wrapper" id="wrapper">



<div class="gem-c-breadcrumbs govuk-breadcrumbs " data-module="track-click">
  <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
          <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" aria-current="false" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
          <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/government/organisations" data-track-options='{"dimension28":"3","dimension29":"Organisations"}' class="govuk-breadcrumbs__link" aria-current="false" href="/government/organisations">Organisations</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">
          <a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="#content" data-track-options='{"dimension28":"3","dimension29":"Dounreay "}' class="govuk-breadcrumbs__link" aria-current="page" href="#content">UK National Screening Committee</a>
      </li>
  </ol>
</div>




    <main id="content" role="main" class="content ">



  <h1 class="visually-hidden">UK National Screening Committee</h1>

  <div class="grid-row">
    <div class="column-two-thirds organisation__margin-bottom">
      <!-- To make the links sit in the centre column use  <div class="column-one-third organisation__margin-bottom"> -->
      <div class="gem-c-organisation-logo ">
    <div class="gem-c-organisation-logo__container gem-c-organisation-logo__crest  "> <img src="/public/images/nsc-logo.jpg" height="39px" width="28px" style="margin-top: -40px"><br>
      <span class="gem-c-organisation-logo__name">UK National <br>Screening Committee</span>
    </div>
</div>


    </div>

      <div class="column-one-third organisation__margin-bottom">

          <ol class="app-c-topic-list app-c-topic-list--small brand--department-for-business-innovation-skills ">
      <!--      <li class="app-c-topic-list__item">
              <a class="app-c-topic-list__link app-c-topic-list__link--no-underline brand__color" href="#role">What the UK National Screening Committee does</a>
            </li> !-->

      <li class="app-c-topic-list__item">
        <a class="app-c-topic-list__link app-c-topic-list__link--no-underline brand__color" href="https://www.gov.uk/guidance/nhs-population-screening-explained">NHS population screening explained</a>
      </li>
      <li class="app-c-topic-list__item">
        <a class="app-c-topic-list__link app-c-topic-list__link--no-underline brand__color" href="search"></a>
      </li>
      <li class="app-c-topic-list__item">
        <a class="app-c-topic-list__link app-c-topic-list__link--no-underline brand__color" href="search">UK NSC recommendations on NHS population screening</a>
      </li>
      <li class="app-c-topic-list__item">
        <a class="app-c-topic-list__link app-c-topic-list__link--no-underline brand__color" href="">Subscribe to UK NSC updates</a>
      </li>
      <li class="app-c-topic-list__item">
        <a class="app-c-topic-list__link app-c-topic-list__link--no-underline brand__color" href="country-screening-programmes">Current screening programmes across the UK</a>
      </li>
      <li class="app-c-topic-list__item">
        <a class="app-c-topic-list__link app-c-topic-list__link--no-underline brand__color" href="#about-us">About UK NSC</a>
      </li>
  </ol>

      </div>
  </div>














<!--news section begins-->

<section class="brand--department-for-business-innovation-skills brand__border-color organisation__brand-border-top organisation__section-wrap organisation__margin-bottom" id="featured-documents">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="gem-c-heading  gem-c-heading--padding gem-c-heading--margin-bottom-2  ">Featured</h2>

    </div>
  </div>



    <div class="grid-row">
        <div class="column-one-third">
          <div class="gem-c-image-card  brand--department-for-business-innovation-skills">
  <figure class="gem-c-image-card__image-wrapper"><img class="gem-c-image-card__image" alt="Screening patient" src="https://assets.publishing.service.gov.uk/media/5e3d8a2fe5274a08ea866d74/corona.jpg"></figure>

  <div class="gem-c-image-card__text-wrapper">
    <p class="gem-c-image-card__context"><time datetime="2019-05-03"> 20 Feb 2020</time><span aria-hidden="true"> — </span>Consultation</p>

      <h3 class="gem-c-image-card__title">
            <a class="gem-c-image-card__title-link brand__color" href="blog-post.html">Annual call for topics</a>
</h3>
    <div class="gem-c-image-card__description"><div class="govspeak">
<p>The annual call for new topics is now open</p>
</div></div>


  </div>
</div>

        </div>
        <div class="column-one-third">
            <div class="gem-c-image-card  brand--department-for-business-innovation-skills">
    <figure class="gem-c-image-card__image-wrapper"><img class="gem-c-image-card__image" alt="Research computer" src="https://phescreening.blog.gov.uk/wp-content/uploads/sites/152/2020/01/SCT-Guyana-Jewel-Roxanne-2-1536x1023.jpg"></figure>

    <div class="gem-c-image-card__text-wrapper">
      <p class="gem-c-image-card__context"><time datetime="2019-04-23">25 February 2020</time><span aria-hidden="true"> — </span>News story</p>

        <h3 class="gem-c-image-card__title">
              <a class="gem-c-image-card__title-link brand__color" href="#">Guyanese doctor inspired by NHS SCT screening programme</a>
</h3>
      <div class="gem-c-image-card__description"><div class="govspeak">
<p>Read about how one doctor was inspired after learning about sickle cell and thalassaemia screening.</p>
</div></div>


    </div>
  </div>

        </div>
        <div class="column-one-third">
            <div class="gem-c-image-card  brand--department-for-business-innovation-skills">
    <figure class="gem-c-image-card__image-wrapper"><img class="gem-c-image-card__image" alt="Scientist in laboratory" src="https://phescreening.blog.gov.uk/wp-content/uploads/sites/152/2019/06/Cervical-screening-letter-768x512.jpg"></figure>

    <div class="gem-c-image-card__text-wrapper">
      <p class="gem-c-image-card__context"><time datetime="2019-01-31">24 February 2020</time><span aria-hidden="true"> — </span>News story</p>

        <h3 class="gem-c-image-card__title">
              <a class="gem-c-image-card__title-link brand__color" href="#">New cervical screening guidance on call and recall administration published</a>
</h3>
      <div class="gem-c-image-card__description"><div class="govspeak">
<p>We have published new guidance on administration good practice in the call and recall service.</p>
</div></div>


    </div>
  </div>

        </div>
    </div>


</section>




<!--latest section would normally be here-->


<section class="brand--department-for-business-innovation-skills brand__border-color organisation__brand-border-top organisation__section-wrap organisation__margin-bottom" id="what-we-do">
  <div class="grid-row">
    <div class="column-two-thirds" id="about-us">
      <h2 class="gem-c-heading  gem-c-heading--padding gem-c-heading--margin-bottom-2  ">What the UK National Screening Committee does</h2>

    </div>
  </div>

  <div class="grid-row" >
    <div class="column-two-thirds">

<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">

<div class="govspeak" >
<p>The UK National Screening Committee (UK NSC) provides advice in England, Northern Ireland, Wales and Scotland about which conditions and diseases to screen for and supports the current NHS population screening programmes.</p>
<p>We regularly review conditions against <a href="https://www.gov.uk/government/publications/evidence-review-criteria-national-screening-programmes">criteria</a> to determine if a screening programme is viable, effective and appropriate. Read more about the <a href="https://www.gov.uk/government/publications/uk-nsc-evidence-review-process">process</a> we use to review evidence.
</p>
<p>View our <a href="search">complete list of UK NSC recommendations</a>  on NHS Population screening</p>
<p>As a member of the public you can submit your comments on conditions that have affected you or your loved ones. View <a href="search-filtered-open">conditions that are open for public comments</a></p>
</div>
</div>
    </div>

      <div class="column-one-third">
        <h3 class="gem-c-heading  gem-c-heading--font-size-19 gem-c-heading--margin-bottom-2  ">Follow us</h3>

          <div class="gem-c-share-links brand--department-for-business-innovation-skills gem-c-share-links--stacked" data-module="track-click">

    <ul class="gem-c-share-links__list">
        <li class="gem-c-share-links__list-item">
          <a target="_blank" rel="noopener noreferrer external" data-track-category="social media" data-track-action="twitter" class="gem-c-share-links__link brand__color" href="https://twitter.com/phe_screening?lang=en">
            <span class="gem-c-share-links__link-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32">
                  <path fill="currentColor" d="M31.007 0H.993A.999.999 0 0 0 0 .993v30.014c0 .55.452.993.993.993h30.014a.997.997 0 0 0 .993-.993V.993A.998.998 0 0 0 31.007 0z"></path>
                  <path fill="#FFF" d="M8 21.027a9.286 9.286 0 0 0 5.032 1.475c6.038 0 9.34-5.002 9.34-9.339 0-.143-.004-.284-.012-.425a6.619 6.619 0 0 0 1.639-1.699c-.6.265-1.234.439-1.885.516a3.287 3.287 0 0 0 1.443-1.816 6.571 6.571 0 0 1-2.086.797 3.28 3.28 0 0 0-5.592 2.993 9.311 9.311 0 0 1-6.766-3.43 3.294 3.294 0 0 0-.443 1.651 3.28 3.28 0 0 0 1.46 2.732 3.278 3.278 0 0 1-1.488-.411v.041a3.288 3.288 0 0 0 2.633 3.22 3.28 3.28 0 0 1-1.481.055 3.285 3.285 0 0 0 3.065 2.281 6.59 6.59 0 0 1-4.076 1.404A6.76 6.76 0 0 1 8 21.027z"></path>
                </svg>

            </span>Twitter</a>
        </li>
        <li class="gem-c-share-links__list-item">
        <a class="app-c-topic-list__link app-c-topic-list__link--no-underline brand__color" href="https://phescreening.blog.gov.uk/"><strong>PHE Screening blog</strong></a>
        </li>

    </ul>
  </div>

      </div>
  </div>
</section>

<!--guidance and regulation stuff would be here-->



    <div id="people">


    </div>

<div class="grid-row">
  <div class="column-two-thirds">
    <section class="brand--department-for-business-innovation-skills organisation__margin-bottom" id="org-contacts">
  <h2 class="gem-c-heading  gem-c-heading--padding gem-c-heading--border-top-5 brand--department-for-business-innovation-skills brand__border-color">Contact</h2>


<!--Contact section-->

    <div class="organisation__contact-section organisation__contact-section--border-top">
    <h3 class="gem-c-heading  gem-c-heading--font-size-19 gem-c-heading--padding  ">NHS population screening helpdesk</h3>


    <div class="grid-row">

        <div class="column-two-thirds">


            <div class="organisation__margin-bottom">
                <p class="govuk-body">PHE Screening
                  <br>Floor 5
                  <br>Wellington House
                  <br>133-155 Waterloo Road
                  <br>London
                  <br>SE1 8UG</p>
            </div>

            <div class="organisation__margin-bottom">
              <p class="govuk-body">Email:
                <br><a href="mailto:PHE.screeninghelpdesk@nhs.net?subject=Helpdesk enquiry">PHE.screeninghelpdesk@nhs.net</a>
                </div>

                <p class="govuk-body">Helpdesk phone number:
                  <br>020 3682 0890</p>



                  <p>The helpdesk is not for media enquiries and does not have access to screening results.
                    For queries about results, contact your GP or local screening service.
                    Order screening leaflets at <a href="https://www.gov.uk/phe/screening-leaflets" class="govuk-link">www.gov.uk/phe/screening-leaflets.</a></p>

        </div>


</section>


<!--FOI request-->





  </div>
    <div class="organisation__corporate-information" id="corporate-info">
      <div class="column-one-third organisation__float-section">
      <h2 class="gem-c-heading  gem-c-heading--padding gem-c-heading--border-top-5 brand--department-for-business-innovation-skills brand__border-color">Organisation information</h2>

    <div class="">
        <ol class="app-c-topic-list  brand--department-for-business-innovation-skills app-c-topic-list--margin-bottom">
          <li class="app-c-topic-list__item">
            <a class="app-c-topic-list__link app-c-topic-list__link--no-underline brand__color" href="#">Code of practice</a>
          </li>
      <li class="app-c-topic-list__item">
        <a class="app-c-topic-list__link app-c-topic-list__link--no-underline brand__color" href="#">Membership</a>
      </li>
      <li class="app-c-topic-list__item">
        <a class="app-c-topic-list__link app-c-topic-list__link--no-underline brand__color" href="#">Publications</a>
      </li>
      <li class="app-c-topic-list__item">
        <a class="app-c-topic-list__link app-c-topic-list__link--no-underline brand__color" href="#">Reference groups</a>
      </li>
      <li class="app-c-topic-list__item">
        <a class="app-c-topic-list__link app-c-topic-list__link--no-underline brand__color" href="#">Terms of reference</a>
      </li>
      <li class="app-c-topic-list__item">
        <a class="app-c-topic-list__link app-c-topic-list__link--no-underline brand__color" href="#">UK NSC metings</a>
      </li>
  </ol>

    </div>

    <h3 class="gem-c-heading  gem-c-heading--font-size-24 gem-c-heading--margin-bottom-2  ">Jobs and contracts</h3>

      <ol class="app-c-topic-list  brand--department-for-business-innovation-skills app-c-topic-list--margin-bottom">
      <li class="app-c-topic-list__item">
        <a class="app-c-topic-list__link app-c-topic-list__link--no-underline brand__color" href="#">Current vacancies </a>
      </li>

  </ol>



</div>

    </div>
</div>

    </main>


<div class="gem-c-feedback gem-c-feedback--top-margin" data-module="feedback">

<div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt" tabindex="-1">
  <div class="gem-c-feedback__js-prompt-questions js-prompt-questions">
    <h2 class="gem-c-feedback__prompt-question">Is this page useful?</h2>

    <a class="gem-c-feedback__prompt-link" data-track-category="yesNoFeedbackForm" data-track-action="ffMaybeClick" aria-expanded="false" role="button" style="display: none;" hidden="hidden" aria-hidden="true" href="/contact/govuk">
      Maybe
</a>
    <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--useful js-page-is-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffYesClick" aria-expanded="false" role="button" href="/contact/govuk">
      Yes <span class="visually-hidden">this page is useful</span>
</a>
    <a class="gem-c-feedback__prompt-link js-toggle-form js-page-is-not-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffNoClick" aria-controls="page-is-not-useful" aria-expanded="false" role="button" href="/contact/govuk">
      No <span class="visually-hidden">this page is not useful</span>
</a>
    <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--wrong js-toggle-form js-something-is-wrong" data-track-category="Onsite Feedback" data-track-action="GOV.UK Open Form" aria-controls="something-is-wrong" aria-expanded="false" role="button" href="/contact/govuk">
      Is there anything wrong with this page?
</a>  </div>

  <div class="gem-c-feedback__prompt-success js-prompt-success js-hidden" tabindex="-1">
    Thank you for your feedback
  </div>
</div>

  <form action="/contact/govuk/problem_reports" id="something-is-wrong" class="gem-c-feedback__form js-feedback-form js-hidden" data-track-category="Onsite Feedback" data-track-action="GOV.UK Send Form" method="post">
  <a href="#" class="gem-c-feedback__close gem-c-feedback__js-show js-close-form" data-track-category="Onsite Feedback" data-track-action="GOV.UK Close Form" aria-controls="something-is-wrong" aria-expanded="true" role="button">Close</a>

  <div class="gem-c-feedback__grid-row">
    <div class="gem-c-feedback__column-two-thirds">
      <div class="gem-c-feedback__error-summary gem-c-feedback__js-show js-hidden js-errors" tabindex="-1"></div>

      <input type="hidden" name="url" value="#">

      <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
      <p id="feedback_explanation" class="gem-c-feedback__form-paragraph">Don’t include personal or financial information like your National Insurance number or credit card details.</p>


<div class="govuk-form-group">

<label for="input-2074fbe1" class="gem-c-label govuk-label">
  What were you doing?
</label>




  <input name="what_doing" class="gem-c-input govuk-input" id="input-2074fbe1" type="text" aria-describedby="feedback_explanation">
</div>


<div class="govuk-form-group">

<label for="input-2dceb43c" class="gem-c-label govuk-label">
  What went wrong?
</label>




  <input name="what_wrong" class="gem-c-input govuk-input" id="input-2dceb43c" type="text">
</div>


  <button class="gem-c-button govuk-button" type="submit" data-prevent-double-click="true">Send</button>


    </div>
  </div>
</form>

  <form action="/contact/govuk/email-survey-signup" id="page-is-not-useful" class="gem-c-feedback__form gem-c-feedback__form--email gem-c-feedback__js-show js-feedback-form js-hidden" data-track-category="yesNoFeedbackForm" data-track-action="Send Form" method="post">
  <a href="#" class="gem-c-feedback__close js-close-form" data-track-category="yesNoFeedbackForm" data-track-action="ffFormClose" aria-controls="page-is-not-useful" aria-expanded="true" role="button">Close</a>

  <div class="gem-c-feedback__grid-row">
    <div class="gem-c-feedback__column-two-thirds">
      <div class="gem-c-feedback__error-summary js-hidden js-errors" tabindex="-1"></div>

      <input name="email_survey_signup[survey_id]" type="hidden" value="footer_satisfaction_survey">
      <input name="email_survey_signup[survey_source]" type="hidden" value="/government/organisations/dounreay">
      <input name="email_survey_signup[ga_client_id]" type="hidden" value="1627485790.1515403243">

      <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
      <p id="survey_explanation" class="gem-c-feedback__form-paragraph">To help us improve GOV.UK, we’d like to know more about your visit today. We’ll send you a link to a feedback form. It will take only 2 minutes to fill in. Don’t worry we won’t send you spam or share your email address with anyone.</p>


<div class="govuk-form-group">

<label for="input-7e452660" class="gem-c-label govuk-label">
  Email address
</label>




  <input name="email_survey_signup[email_address]" class="gem-c-input govuk-input" id="input-7e452660" type="email" autocomplete="email" aria-describedby="survey_explanation">
</div>


  <button class="gem-c-button govuk-button" type="submit" data-prevent-double-click="true">Send me the survey</button>


      <a href="https://www.smartsurvey.co.uk/s/gov-uk-banner/?c=/government/organisations/dounreay&amp;gcl=1627485790.1515403243" class="gem-c-feedback__email-link govuk-link" id="take-survey" target="_blank" rel="noopener noreferrer">Don’t have an email address?</a>
    </div>
  </div>
</form>

</div>

  </div>


    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">
            <div class="footer-categories" data-module="track-click">
      <div class="footer-explore">
        <h2>Prepare for EU Exit</h2>

        <ul>
          <li><a data-track-category="footerClicked" data-track-action="brexitLinks" data-track-label="Prepare your business or organisation for the UK leaving the EU" href="/business-uk-leaving-eu">Prepare your business or organisation for the UK leaving the EU</a></li>
          <li><a data-track-category="footerClicked" data-track-action="brexitLinks" data-track-label="Prepare for EU Exit if you live in the UK" href="/prepare-eu-exit">Prepare for EU Exit if you live in the UK</a></li>
        </ul>
        <ul>
          <li><a data-track-category="footerClicked" data-track-action="brexitLinks" data-track-label="Living in Europe after the UK leaves the EU" href="/uk-nationals-living-eu">Living in Europe after the UK leaves the EU</a></li>
          <li><a data-track-category="footerClicked" data-track-action="brexitLinks" data-track-label="Continue to live in the UK after it leaves the EU" href="/staying-uk-eu-citizen">Continue to live in the UK after it leaves the EU</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-categories" data-module="track-click">
      <div class="footer-explore">
        <h2>Services and information</h2>

        <ul>
          <li><a data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Benefits" href="/browse/benefits">Benefits</a></li>
          <li><a data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Births, deaths, marriages and care" href="/browse/births-deaths-marriages">Births, deaths, marriages and care</a></li>
          <li><a data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Business and self-employed" href="/browse/business">Business and self-employed</a></li>
          <li><a data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="" href="/browse/childcare-parenting">Childcare and parenting</a></li>
          <li><a data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Citizenship and living in the UK" href="/browse/citizenship">Citizenship and living in the UK</a></li>
          <li><a data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Crime, justice and the law" href="/browse/justice">Crime, justice and the law</a></li>
          <li><a data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Disabled people" href="/browse/disabilities">Disabled people</a></li>
          <li><a data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Driving and transport" href="/browse/driving">Driving and transport</a></li>
        </ul>
        <ul>
          <li><a data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Education and learning" href="/browse/education">Education and learning</a></li>
          <li><a data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Employing people" href="/browse/employing-people">Employing people</a></li>
          <li><a data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Environment and countryside" href="/browse/environment-countryside">Environment and countryside</a></li>
          <li><a data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Housing and local services" href="/browse/housing-local-services">Housing and local services</a></li>
          <li><a data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Money and tax" href="/browse/tax">Money and tax</a></li>
          <li><a data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Passports, travel and living abroad" href="/browse/abroad">Passports, travel and living abroad</a></li>
          <li><a data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Visas and immigration" href="/browse/visas-immigration">Visas and immigration</a></li>
          <li><a data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Working, jobs and pensions" href="/browse/working">Working, jobs and pensions</a></li>
        </ul>
      </div>

      <div class="footer-inside-government">
        <h2>Departments and policy</h2>

        <ul>
          <li><a data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="How government works" href="/government/how-government-works">How government works</a></li>
          <li><a data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Departments" href="/government/organisations">Departments</a></li>
          <li><a data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Worldwide" href="/world">Worldwide</a></li>
          <li><a data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Services" href="/search/services">Services</a></li>
          <li><a data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Guidance and regulation" href="/search/guidance-and-regulation">Guidance and regulation</a></li>
          <li><a data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="News and communications" href="/search/news-and-communications">News and communications</a></li>
          <!--li><a data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Research and statistics</" href="/search/statistics">Research and statistics</a></li-->
          <li><a data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Policy papers and consultations" href="/search/policy-papers-and-consultations">Policy papers and consultations</a></li>
          <li><a data-track-category="footerClicked" data-track-action="footerLinks" data-track-label="Transparency and freedom of information releases" href="/search/transparency-and-freedom-of-information-releases">Transparency and freedom of information releases</a></li>
        </ul>
      </div>
      <hr>
    </div>


        <div class="footer-meta">
          <div class="footer-meta-inner">
              <h2 class="visuallyhidden">Support links</h2>
<ul>
  <li><a href="/help">Help</a></li>
  <li><a href="/help/cookies">Cookies</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/help/terms-conditions">Terms and conditions</a></li>
  <li><a href="/cymraeg" lang="cy" hreflang="cy">Rhestr o Wasanaethau Cymraeg</a></li>
  <li>Built by the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a>
</li>
</ul>



            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

      <script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.12.4-c731c20e2995c576b0509d3bd776f7ab64a66b95363a3b5fae9864299ee594ed.js" crossorigin="anonymous" integrity="sha256-xzHCDimVxXawUJ0713b3q2Sma5U2OjtfrphkKZ7llO0="></script>
<script src="https://assets.publishing.service.gov.uk/static/header-footer-only-0fe864934966ddf8c084c23b0271c6ca6c5e5dcd3efd7150c742540dc84caf1a.js" crossorigin="anonymous" integrity="sha256-D+hkk0lm3fjAhMI7AnHGymxeXc0+/XFQx0JUDchMrxo="></script>
<script src="https://assets.publishing.service.gov.uk/static/surveys-19a9841dbd791a4fcae9f177ebf366b2ccd1aa5d421c8b60d465e3923e608a46.js" crossorigin="anonymous" integrity="sha256-GamEHb15Gk/K6fF36/NmsszRql1CHItg1GXjkj5gikY="></script>



    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  <script src="https://assets.publishing.service.gov.uk/collections/application-560af75366889c5b37d1df55fba2e4cdab6951b13cea44111fffe478b4cb0556.js"></script><script type="application/ld+json">
  {"@context":"http://schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"item":{"name":"Home","@id":"https://www.gov.uk/"}},{"@type":"ListItem","position":2,"item":{"name":"Organisations","@id":"https://www.gov.uk/government/organisations"}},{"@type":"ListItem","position":3,"item":{"name":"Dounreay ","@id":"https://www.gov.uk/government/organisations/dounreay"}}]}
</script><script type="application/ld+json">
  {"@context":"http://schema.org","@type":"GovernmentOrganization","mainEntityOfPage":{"@type":"WebPage","@id":"https://www.gov.uk/government/organisations/dounreay"},"name":"Dounreay ","description":"Dounreay is responsible for the safe and secure clean-up of the Dounreay nuclear site. Dounreay works with the Nuclear Decommissioning Authority .","parentOrganization":[{"@context":"http://schema.org","@type":"GovernmentOrganization","sameAs":"https://www.gov.uk/government/organisations/nuclear-decommissioning-authority"}]}
</script>
</body>
</html>
