{% extends "layout.html" %}
{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}

{% block head %}
    {{ super() }}
    <link href="/public/stylesheets/uk-nsc-beta.css"  rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <a href="subscribe-start-v2" class="govuk-back-link">Back</a>
            <h1 class="govuk-heading-l pink">
                Enter your email address
            </h1>
            <p class="govuk-body">
                You're subscribing to get email notifications about:
                UK National Screening Committee recommendations.
            </p>
            <p class="govuk-body">
                You'll get an email when the UK NSC starts or ends a public consultation on the condition(s).
            </p>

            <form action="subscribed-v2" method="post">
                <div class="govuk-form-group">
                    <label for="email-address" class="govuk-label">What's your email address?</label>
                    <input name="email-address" class="govuk-input" id="email-address" type="text">
                </div>
                <div class="govuk-form-group">
                    <label for="confirm-email-address" class="govuk-label">Please confirm your email address</label>
                    <input name="confirm-email-address" class="govuk-input" id="confirm-email-address" type="text">
                </div>
                <button class="govuk-button" type="submit">Continue</button>
            </form>

            <p class="govuk-body">
                We won't share your email address with anyone. Read our <a class="govuk-link" href="https://www.gov.uk/help/privacy-notice" target="_blank">privacy policy</a>
                (opens in a new tab).
            </p>
        </div>
    </div>
{% endblock %}
