{% extends "layout.html" %}

{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl" id="main-content">
        Complete list of UK NSC recommendations
      </h1>

      <h2 class="govuk-heading-l">
        Find a condition
      </h2>


      <form method="GET" id="search">

        <div class="govuk-form-group">
          <label class="govuk-label govuk-heading-m" for="term">
          </label>
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Search for conditions
              </h1>
            </legend>

            <input class="govuk-input" id="term" name="term" type="text"
                   value="{{ term }}" style="width: 80%" placeholder="Search for condition">
            <button type="submit" class="govuk-button">
              Search
            </button>
          </fieldset>
        </div>

      </form>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
        {% for policy in policies %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="https://legacyscreening.phe.org.uk/{{ policy.URL }}" target="_blank">{{ policy.Condition }}</a></td>
            <td class="govuk-table__cell">{{ policy.Type }}</td>
            <td class="govuk-table__cell">{{ policy.Recommendation }}</td>
          </tr>
        {% else %}
          <p>No Policies</p>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
