{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/unbranded.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/public/stylesheets/phe-nsc-alpha.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <a href="af-in-consultation" class="govuk-back-link">Back</a>
        <h1 class="govuk-heading-l">
            <span class="govuk-caption-l">Atrial Fibrillation</span>
              Take part in a public consultation
          </h1>

          <p class="govuk-body">A public consultation for Atrial Fibrillation opened on the 14th May 2019 and will close on the 14th August 2019. Responses recieved after this time will not be considered in the consultation process.</p>
          <p class="govuk-body">You can take part in a consultation in two ways, first download the <a href="https://legacyscreening.phe.org.uk/policydb_download.php?doc=919" class="govuk-link">evidence review document</a> and then either:</p>


              <ol class="govuk-list govuk-list--number" class="govuk-body govuk-!-font-size-48">
                <p class="govuk-body govuk-!-font-size-36"><li>Send your comments using the <a href="form" class="govuk-link">online form</a></li></p>
                <p class="govuk-body govuk-!-font-size-36"><li>Download and complete the <a href="https://legacyscreening.phe.org.uk/policydb_download.php?doc=920" class="govuk-link">response form</a>, and email it to <a href="mailto:screening.evidence@nhs.net?subject=feedback" class="govuk-link">screening.evidence@nhs.net</a> before 4th August 2019</li>
                  </ol>


          <h2 class="govuk-heading-m">
              How consultations work
          </h2>

          <p class="govuk-body">Find out more about the consultation process by reading the<a href="https://www.gov.uk/government/publications/uk-nsc-evidence-review-process" class="govuk-link"> UK NSC's evidence review process</a></p>
          <p class="govuk-body">Information provided in response to this consultation may be subject to publication.</p>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
              Read more about the UK NSC's confidentiality policy
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">Information provided in response to this consultation, including personal information, may be subject to publication or release to other parties or to disclosure in accordance with the access to information regimes (these are primarily the Freedom of Information Act 2000, the Data Protection Act 1998, and the Environmental Information Regulations 2004). If you want information, including personal data that you provide to be treated as confidential, please be aware that, under the FOIA, there is a statutory Code of Practice with which public authorities must comply and which deals, amongst other things, with obligations of confidence. </P>

              <p class="govuk-body">In view of this it would be helpful if you could explain to us why you regard the information you have provided as confidential. If we receive a request for disclosure of the information we will take full account of your explanation, but we cannot give an assurance that confidentiality can be maintained in all circumstances. An automatic confidentiality disclaimer generated by your IT system will not, of itself, be regarded as binding on the UK National Screening Committee.</P>

              <p class="govuk-body">Any request for information to be treated in confidence will be taken into consideration in the publication of responses to the consultation. The UK National Screening Committee intends to publish all responses following the closure of the consultation period, however we will not publish responses from respondents who request that any of the information in their response, including personal data, should be handled in confidence. The UK National Screening Committee reserves the right not to publish or take into account any representations which are openly offensive or defamatory.</p>
            </div>
          </details>

          <div class="govuk-inset-text">
            Helpdesk phone number: 020 3682 0890
          </div>


      </div>
    </div>

  </main>
</div>

{% endblock %}
