{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/unbranded.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/public/stylesheets/phe-nsc-alpha.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <a href="search" class="govuk-back-link">Back</a>
        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l">Adult screening programme</span>
              Spinal Muscular Atrophy (SMA)

        <h2 class="govuk-heading-m">Recommendation</h2>
        <p class="govuk-body govuk-!-font-weight-bold recommendation-badge">
          <span id="not-recommended">Screening is not currently recommended for this condition</span>
        </p>

        <p class="govuk-body">
          Following a review of the evidence against strict criteria, the UK NSC does not currently recommend introducing a national screening programme for carrier or new-born screening for spinal muscular atrophy.
        </p>

        <p class="govuk-body">
          Key findings supporting the UK NSC recommendation:
        </p>

        <ul class="govuk-list govuk-list--bullet">
         <li>there was very limited evidence about how acceptable a screening programme would be</li>
         <li>there was no evidence on how to support individuals who need to make difficult decisions following carrier screening</li>
         <li>there was a lack of information on the reliability of screening tests for SMA</li>
         <li>no effective treatments for SMA were identified in an unsymptomatic population, currently only palliative support can be offered - however, the review identified evidence on a new treatment for SMA, called nusinersen, that can improve symptoms in children with SMA</li>
         <li>this evidence review did not find information on the effectiveness of nusinersen in children without symptoms, and there is no evidence on the long term effects of this drug</li>
        </ul>

        <h2 class="govuk-heading-m">Review cycle</h2>
        <p class="govuk-body">Last review completed: 2016</p>
        <p class="govuk-body">Next review estimated to be completed: 2019 to 2020</p>

        <h2 class="govuk-heading-m">More about Spinal Muscular Atrophy</h2>
        <p class="govuk-body">
          Spinal muscular atrophy (SMA) is a genetic disease that causes muscle weakness and a progressive loss of movement. There is no cure but therapy and support are available to help manage the condition.
        </p>

        <p class="govuk-body">
          <a href="#" class="govuk-link">Read more on NHS UK</a>
        </p>

        <h2 class="govuk-heading-m">Supporting documents</h2>
        <a class="govuk-link" href="#" style="font-size: 20px;">Last evidence review</a>
        <p class="govuk-body-m">
        This is the previous evidence review conducted to investigate whether the condition should be screened or not
        </p>


        <a class="govuk-link" href="#" style="font-size: 20px;">Last evidence review summary</a>
        <br>
        <p class="govuk-body-m">This is the most recent evidence review plus consultation responses
        </p>


        <h2 class="govuk-heading-m">Organisations interested in Spinal Muscular Atrophy</h2>
        <p class="govuk-body">
          These organisations have expressed interest in this recommendation and may submit responses to evidence reviews.
        </p>

        <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      List of organisations
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">The British Society for Human Genetics</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Faculty of Public Health</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Muscular Dystrophy Campaign</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Royal College of General Practitioners</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Royal College of Paediatrics and Child Health</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Royal College of Physicians</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Royal College of Physicians and Surgeons of Glasgow</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Royal College of Physicians of Edinburgh</a>
      </li>
      <li>
        <a class="govuk-link" href="#">SMA Trust</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Spinal Muscular Atrophy Support UK</a>
      </li>
    </ul>
  </div>
</details>

        <p class="govuk-body">
          The stakeholder groups will be involved when the recommendation is next reviewed. If you think your organisation should be added, please <a class="govuk-link" href="#">contact us</a>. More information for stakeholders can be found in appendix C of the <a class="govuk-link" href="#">UK NSC evidence review process</a>.
        </p>

      </div>
    </div>

  </main>
</div>

{% endblock %}
