{% extends "layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Complete list of UK NSC recommendations</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Alcohol Misuse</a>
          </li>
          <li class="govuk-breadcrumbs__list-item" aria-current="page">Consultation</li>
        </ol>
      </div>

      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#name-error">Enter your name</a>
            </li>
            <li>
              <a href="#email-error">Enter your email</a>
            </li>
            <li>
              <a href="#consultation-error">Attach or input consultation comments</a>
            </li>
          </ul>
        </div>
      </div>

      <h1 class="govuk-heading-xl consultation-heading">
        Alcohol Misuse
      </h1>

      <h2>About you</h2>

      <div class="govuk-form-group govuk-form-group--error">
        <label class="govuk-label" for="name">
          Name
        </label>
        <span id="name-error" class="govuk-error-message">
          Enter a name
        </span>
        <input class="govuk-input" id="name" name="email" type="text" aria-describedby="email-hint">
      </div>

      <div class="govuk-form-group govuk-form-group--error">
        <label class="govuk-label" for="email">
          Email
        </label>
        <span id="email-error" class="govuk-error-message">
          Enter an email
        </span>
        <input class="govuk-input" id="email" name="email" type="text" aria-describedby="email-hint">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="organisation">
          Organisation (if appropriate)
        </label>
        <input class="govuk-input" id="organisation" name="email" type="text" aria-describedby="email-hint">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="role">
          Role (if appropriate)
        </label>
        <input class="govuk-input" id="role" name="email" type="text" aria-describedby="email-hint">
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <label class="govuk-label" for="role">
            Do you consent to your name being published on the UK NSC website alongside your response?
          </label>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name-1" name="changed-name" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="changed-name-1">
                Yes
              </label> </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no" checked>
                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                  No
                </label> </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
          Which evidence summary is your feedback for?
        </label>
        <select class="govuk-select" id="sort" name="sort">
          <option value="published" selected>Screening in adults up to age 45</option>
          <option value="updated">Screening in adults over age 45</option>
        </select>
      </div>

      <h2>Consultation comments</h2>

      <p>You may upload feedback as a document or input text directly into the box below.</p>

      <div class="govuk-form-group nsc-external-review govuk-form-group--error">
        <label class="govuk-label" for="file-input">
          Upload consultation comments
        </label>
        <span id="consultation-error" class="govuk-error-message">
          Attach or enter consultation comments
        </span>
        <input type="file" id="file-input">
      </div>

      <div class="govuk-form-group govuk-form-group--error">
        <label class="govuk-label" for="file-input">
          Input consultation comments
        </label>
        <span id="consultation-error" class="govuk-error-message">
          Attach or enter consultation comments
        </span>
        <span id="email-hint" class="govuk-hint">
          If your comments relate to specific review sections or page numbers, please indicate this in the text. For example: </br>
           </br>
          [page 3, paragraph 2] ...
        </span>
        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="10" aria-describedby="more-detail-hint"></textarea>
      </div>

      <a href="/index.html" role="button" class="govuk-button back-button">Cancel</a>
      <a href="/consultation-feedback-1/form-submitted" role="button" class="govuk-button preview-button">Send consultation feedback</a>
  </div>

{% endblock %}
