{% extends "layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Complete list of UK NSC recommendations</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Alcohol Misuse</a>
          </li>
          <li class="govuk-breadcrumbs__list-item" aria-current="page">Consultation</li>
        </ol>
      </div>

      <h1 class="govuk-heading-xl consultation-heading">
        Alcohol Misuse
      </h1>

      <p>Consultation comments submitted.</p>

      <p>Thank you for your comments on this consultation for Alcohol Misuse.</p>

      <h3 class="govuk-heading-m">What happens next</h3>


      <p>This consultation closes on 21 November 2018. Your comments will be reviewed alongside others received in the consultation.</p>

      <p class="govuk-body">
        <a href="#" class="govuk-link">What did you think of this service?</a> (takes 2 minutes)
      </p>

      <p>Go back to the <a href="#">Alcohol Misuse policy page</a></p>

      <p>Go to the list of <a href="#">current UK NSC Recommendations</a></p>
  </div>

{% endblock %}
