{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/unbranded.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/public/stylesheets/phe-nsc-alpha.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/v3/index">Dashboard</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/v3/reviews">Reviews</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/v3/new-review">New review</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">Conditions and dates</li>
          </ol>
        </div>
        <br>
        <div class="govuk-width-container">
          <div class="govuk-form-group">
            <label class="govuk-label" for="sort">
              <h2 class="govuk-heading-l">Select conditions under review <i class="icon icon-important"><p class="govuk-body-s hover-hint">This information is visible to the public</p></i>
              </h2>
            </label>

            <span id="email-hint" class="govuk-hint">
              Select conditions this review relates to
            </span>

            <select class="govuk-select" id="sort" name="sort">
              <option value="nope" selected></option>
              <option value="abdominal_aortic_aneurysm">Abdominal Aortic Aneurysm</option>
              <option value="updated">Alcohol Misuse</option>
              <option value="views">Argininosuccinate lyase deficiency</option>
              <option value="a">Citrullinaemia</option>
              <option value="b">Spinal Muscular Atrophy (SMA)</option>
              <option value="cs">Tyrosinaemia type 1</option>
              <option value="d">Phenylketonuria</option>
              <option value="e">Vascular risk</option>
              <option value="f">...</option>
            </select>
            <br>
            <br>
            <a href="#" role="button" class="govuk-button review-add-condition">Add another condition</a>
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="sort">
              <h2 class="govuk-heading-l">Review name</h2>
            </label>

            <span id="email-hint" class="govuk-hint">
              Internal Review Name
            </span>

            <input class="govuk-input" id="review_name" name="email" type="text" aria-describedby="email-hint">
          </div>
          <br>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
              <label class="govuk-label" for="sort">
                <h2 class="govuk-heading-l">Expected consultation start date</h2>
              </label>
              <span id="dob-hint" class="govuk-hint">
                For example, April to July 2019
              </span>
              <div class="govuk-form-group">
                <input class="govuk-input govuk-input--width-10" id="national-insurance-number" name="national-insurance-number" type="text" aria-describedby="national-insurance-number-hint">
              </div>
            </fieldset>
          </div>
          <br>
          <br>
          <a href="/v3/new-review.html" role="button" class="govuk-button">Cancel</a>
          <a href="/v3/sma" role="button" class="govuk-button">Save</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
