{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/unbranded.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/public/stylesheets/phe-nsc-alpha.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/v3/index">Dashboard</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/v3/reviews">Reviews</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/v3/sma-1">SMA</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">Dates and documents</li>
          </ol>
        </div>
        <br>
        <div class="govuk-width-container">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
              <label class="govuk-label" for="sort">
                <h2 class="govuk-heading-l">Delay opening this consultation</h2>
              </label>
              <span id="dob-hint" class="govuk-hint">
                This should only be filled in if you wish to open this consultation automatically on a pre-determined date. If you do not fill this in, the consultation will be opened once you click save.
              </span>
              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="nationality-1" name="nationality" type="checkbox" value="british">
                  <label class="govuk-label govuk-checkboxes__label" for="nationality-1">
                    Open automatically
                  </label>
                </div>
              </div>
              <br>
              <span id="dob-hint" class="govuk-hint">
                At what time would you like this to be automatically opened?
              </span>
              <div class="govuk-date-input" id="dob">
                <div class="govuk-date-input__item govuk-date-input__item--day">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="dob-day">
                      Hour
                    </label>
                    <input class="govuk-input govuk-date-input__input" id="dob-day" name="dob-day" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item govuk-date-input__item--day">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="dob-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input" id="dob-day" name="dob-day" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item govuk-date-input__item--month">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="dob-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input" id="dob-month" name="dob-month" type="number" pattern="[0-9]*">
                  </div>
                </div>
                <div class="govuk-date-input__item govuk-date-input__item--year">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="dob-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input" id="dob-year" name="dob-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
              <br>
            </fieldset>
          </div>
          <br>
          <br>

          <a href="/v3/sma-1.html" role="button" class="govuk-button">Cancel</a>
          <a href="/v3/sma-2" role="button" class="govuk-button">Save</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
