{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/unbranded.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/public/stylesheets/phe-nsc-alpha.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/v3/index">Dashboard</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/v3/reviews">Reviews</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/v3/sma-2">SMA</a>
          </li>
          <li class="govuk-breadcrumbs__list-item" aria-current="page">Internal review</li>
        </ol>
      </div>
      <h1 class="govuk-heading-xl">
        Upload internal review <i class="icon icon-important"><p class="govuk-body-s hover-hint">This information is visible to the public</p></i>
      </h1>
      <div class="govuk-form-group">
        <label class="govuk-label" for="file-upload-1">
          Upload a file
        </label>
        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
      </div>

      <a href="/v3/sma-2" role="button" class="govuk-button">Cancel</a>
      <a href="/v3/sma-3" role="button" class="govuk-button">Save</a>
    </div>
  </div>
{% endblock %}
