{% extends "layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Alcohol Misuse
      </h1>

      <h3>Recommendation status</h3>
      <p class="recommendation-status-preview">Not Recommended</p>

      <h3>Last review completed</h3>
      <p>August 2017</p>

      <h3>
        Expected next review start date
      </h3>
      <p>2020</p>

      <div class="important-downloads">
        <h3>Important downloads</h3>

        <p><a href="#">Recommendation statement</a></p>
        <p><a href="#">Last external review - Review of screening for Alcohol Misuse Jan 2017</a></p>
        <p><a href="#">Last evidence review summary</a></p>
      </div>

      <div class="preview-general-information">
      <h3>More about Alcohol Misuse</h3>

      <p>
      Drinking a moderate amount of alcohol will not do you any physical or psychological harm. However, for some people, social drinking can lead to heavier drinking, which can cause serious health problems.
      </p>

      <p><a href="https://www.nhs.uk/conditions/alcohol-misuse/">Read more about alcohol misuse on NHS Choices</a></p>

      </div>

      <div class="preview-general-information">
      <h3>
      Review History
      </h3>

      <p>
      This condition has been reviewed in close collaboration with the Institute of Blah Blah at the University of Academia.
      </p>
      </div>

    <a href="/v3/policy-edit" role="button" class="govuk-button back-button">
      Back
    </a>

    <a href="/v3/policy-index-publication-notification" role="button" class="govuk-button publish-button">
      Publish
    </a>

    </div>




{% endblock %}

