{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/unbranded.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/public/stylesheets/phe-nsc-alpha.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <a href="search" class="govuk-back-link">Back</a>
  <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">
      <span class="govuk-caption-l">Adult screening programme</span>
        Atrial Fibrillation
    </h1>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <p class="govuk-warning-text__text">
            <strong>
            <span class="govuk-warning-text__assistive">Warning</span>
            This condition is currently in public consultation.<br><a class="govuk-link" href="consultation">Take part in the consultation</a></strong>
            <br>Closing date: 14th August 2019.</p>
        </div>
        <h2 class="govuk-heading-m" style="margin-bottom: 0px;">Recommendation</h2>
        <p class="govuk-body govuk-!-font-weight-bold recommendation-badge">
          <span id="not-recommended">Screening is not currently recommended for this condition</span>
        </p>

        <p class="govuk-body">
          Key findings supporting the UK NSC recommendation:
        </p>

        <ul class="govuk-list govuk-list--bullet">
         <li>the review completed in 2014 found that it is not clear that those identified as at risk through screening would benefit from early diagnosis</li>
         <li>the evidence review also highlighted concerns over the available test and the quality of current treatment pathways for AF</li>
         <li>the Committee identified a need to improve clinical management and standardise the treatment services currently available to those with diagnosed AF</li>
        </ul>

        <h2 class="govuk-heading-m">Atrial Fibrillation</h2>
        <p class="govuk-body">
          Atrial Fibrillation causes a fast and erratic heart beat. It is a complication of various diseases. Medication can slow the heart rate back to normal, and ease symptoms. In some cases, treatment can restore the heart back to a normal rhythm.
        </p>

        <p class="govuk-body">
          <a href="https://www.nhs.uk/conditions/atrial-fibrillation/" class="govuk-link">Read more on NHS UK</a>
        </p>

        <h2 class="govuk-heading-m">Supporting documents</h2>
            <a class="govuk-link" href="#" style="font-size: 20px;">Previous evidence review</a>
            <p class="govuk-body-m">
            This is the previous evidence review conducted to investigate whether the condition should be screened or not
          </p>


            <a class="govuk-link" href="#" style="font-size: 20px;">Previous evidence review summary</a>
            <br>
            <p class="govuk-body-m">This is the most recent evidence review plus consultation responses
          </p>


        <h2 class="govuk-heading-m">Organisations interested in Atrial Fibrillation</h2>
        <p class="govuk-body">
          These organisations have expressed interest in this recommendation and may submit responses to evidence reviews.
        </p>

      <h3 class="govuk-heading-s">
      List of organisation</h3>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">AF Association</a>
      </li>
      <li>
        <a class="govuk-link" href="#">AntiCoagulation Europe</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Arrhythmia Alliance</a>
      </li>
      <li>
        <a class="govuk-link" href="#">British Cardiovascular Society</a>
      </li>
      <li>
        <a class="govuk-link" href="#">British Heart Foundation</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Central & East London Comprehensive Local Research Network</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Education for Health</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Faculty of Public Health/a>
      </li>
      <li>
        <a class="govuk-link" href="#">Heart Rhythm UK</a>
      </li>
      <li>
        <a class="govuk-link" href="#">HEART UK</a>
      </li>
      <li>
        <a class="govuk-link" href="#">NHS Improvement</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Royal College of General Practitioners</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Royal College of Nursing</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Royal College of Physicians</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Royal College of Physicians and Surgeons of Glasgow</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Royal College of Physicians of Edinburgh</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Royal College of Surgeons</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Stroke Association</a>
      </li>
    </ul>

        <p class="govuk-body">
          The stakeholder groups will be involved when the recommendation is next reviewed. If you think your organisation should be added, please <a class="govuk-link" href="#">contact us</a>. More information for stakeholders can be found in appendix C of the <a class="govuk-link" href="#">UK NSC evidence review process</a>.
        </p>

      </div>
    </div>

  </main>
</div>

{% endblock %}
