{% extends "layout.html" %}

{% block head %}
  <link href="/public/stylesheets/unbranded.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/public/stylesheets/phe-nsc-alpha.css" media="screen" rel="stylesheet" type="text/css">

  {{ super() }}
  <link href="/public/stylesheets/uk-nsc-beta.css"  rel="stylesheet" type="text/css">


{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <a href="search" class="govuk-back-link">Back</a>
  <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">
      <span class="govuk-caption-l">Adult screening programme</span>
        Atrial Fibrillation
    </h1>



        <div class="govuk-warning-text" style="border: 3px solid #005EA5; padding: 15px 15px 0 15px;">
          <span class="govuk-warning-text__icon" style="margin-left:15px; margin-top: -35px;" aria-hidden="true">!</span>
          <p class="govuk-warning-text__text">
            <strong>
            <span class="govuk-warning-text__assistive">Warning</span>
            We are currently accepting public comments on this condition.<br><a class="govuk-link" href="consultation">Submit comments on atrial fibrillation.</a></strong>
            <br>Closing date: 14th August 2020.
            <br>Scheduled UK NSC meeting date: 25th September 2020.</p>
        </div>
        <p class="govuk-body">
          Atrial Fibrillation (AF) causes a fast and erratic heart beat. It is a complication of various diseases. Medication can slow the heart rate back to normal, and ease symptoms. In some cases, treatment can restore the heart back to a normal rhythm.
        </p>

        <p class="govuk-body">
        Read an <a href="https://www.nhs.uk/conditions/atrial-fibrillation/" class="govuk-link">overview of atrial fibrillation on NHS.UK.</a>
        </p>


        <h2 class="govuk-heading-m" style="margin-bottom: 0px;">UK NSC screening recommendation</h2>
          <span class="govuk-caption-m">Based on the last UK NSC review of this condition that occurred in September 2017. </span>

        <p class="govuk-body govuk-!-font-weight-bold recommendation-badge">
          <span id="not-recommended">Screening is not currently recommended for this condition</span>
        </p>

        <p class="govuk-body">
          The UK NSC reviewed this condition in September 2017 and found that:
        </p>

        <ul class="govuk-list govuk-list--bullet">
         <li>it is not clear that those identified as at risk through screening would benefit from early diagnosis</li>
         <li>there are concerns over the available test and the quality of current treatment pathways for AF</li>
         <li> there is a need to improve clinical management and standardise the treatment services currently available to those with diagnosed AF</li>
        </ul>



        <h3 class="govuk-heading-s">Supporting documents from the 2017 review</h3>
            <a class="govuk-link" href="#" style="font-size: 20px;">Evidence summary</a>
            <p class="govuk-body-m">
            This is the previous evidence review conducted to investigate whether the condition should be screened or not
          </p>


            <a class="govuk-link" href="#" style="font-size: 20px;">UK NSC coversheet and public comments</a>
            <br>
            <p class="govuk-body-m">These are the outcomes of the review process including the public consultation comments
          </p>

          <h2 class="govuk-heading-m">Review cycle</h2>
          <p class="govuk-body">This condition is currently in review</p>
          <p class="govuk-body">Last review completed: 2017</p>
          <p class="govuk-body">Next review estimated to be completed: 2023 to 2024</p>
          <p class="govuk-body">Previous evidence reviews, are available on the<a class="govuk-link" href="#"> UK NSC archive.</a></p>



        <h2 class="govuk-heading-m">Organisations interested in Atrial Fibrillation</h2>
        <p class="govuk-body">
          These organisations have expressed interest in this recommendation and may submit responses to evidence reviews.
        </p>

      <h2 class="govuk-heading-s">
      List of organisation</h2>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">AF Association</a>
      </li>
      <li>
        <a class="govuk-link" href="#">AntiCoagulation Europe</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Arrhythmia Alliance</a>
      </li>
      <li>
        <a class="govuk-link" href="#">British Cardiovascular Society</a>
      </li>
      <li>
        <a class="govuk-link" href="#">British Heart Foundation</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Central & East London Comprehensive Local Research Network</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Education for Health</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Faculty of Public Health</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Heart Rhythm UK</a>
      </li>
      <li>
        <a class="govuk-link" href="#">HEART UK</a>
      </li>
      <li>
        <a class="govuk-link" href="#">NHS Improvement</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Royal College of General Practitioners</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Royal College of Nursing</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Royal College of Physicians</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Royal College of Physicians and Surgeons of Glasgow</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Royal College of Physicians of Edinburgh</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Royal College of Surgeons</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Stroke Association</a>
      </li>
    </ul>

        <p class="govuk-body">
       If you think your organisation should be added, please <a class="govuk-link" href="#">contact us</a>. More information for organisations can be found in appendix C of the <a class="govuk-link" href="#">UK NSC evidence review process</a>.
        </p>


      </div>
    </div>


{% endblock %}
