{% extends "layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="policy-index" class="govuk-back-link" >Back to edit policy</a>
        </br>
        </br>
          <span class="govuk-caption-xl">  Policy preview</span>
      <h1 class="govuk-heading-xl">
        Alcohol Misuse
      </h1>

      <h3>Recommendation status</h3>
      <p class="recommendation-status-preview">Not Recommended</p>

      <h3>Last review completed</h3>
      <p>August 2017</p>

      <h3>
        Expected next review start date
      </h3>
      <p>2020</p>

      <div class="important-downloads">
        <h3>Important downloads</h3>

        <p><a href="#">Recommendation statement</a></p>
        <p><a href="#">Last external review - Review of screening for Alcohol Misuse Jan 2017</a></p>
        <p><a href="#">Last evidence review summary</a></p>
      </div>

      <div class="preview-general-information">
      <h3>More about Alcohol Misuse</h3>

      <p>
      Drinking a moderate amount of alcohol will not do you any physical or psychological harm. However, for some people, social drinking can lead to heavier drinking, which can cause serious health problems.
      </p>

      <p><a href="https://www.nhs.uk/conditions/alcohol-misuse/">Read more about alcohol misuse on NHS Choices</a></p>

      </div>

      <div class="preview-general-information">
      <h3>
      Review History
      </h3>

      <p>
      This condition has been reviewed in close collaboration with the Institute of Blah Blah at the University of Academia.
      </p>
      </div>

      <div class="stakeholders-list">
        <h3>Public Consultees for this Condition</h3>
        <ul class="govuk-list">
          <li><a href="#">Addaction</a></li>
          <li><a href="#">Addiction Recovery Foundation</a></li>
          <li><a href="#">Al-Anon</a></li>
          <li><a href="#">Alcohol Concern</a></li>
          <li><a href="#">Alcohol Focus Scotland</a></li>
          <li><a href="#">Alcoholics Anonymous</a></li>
          <li><a href="#">British Association for Study of the Liver</a></li>
          <li><a href="#">British Liver Nurses' Forum</a></li>
          <li><a href="#">The British Liver Trust</a></li>
          <li><a href="#">The British Psychological Society</a></li>
          <li><a href="#">British Society of Gastroenterology</a></li>
          <li><a href="#">British Society of Lifestyle Medicine</a></li>
          <li><a href="#">Faculty of Public Health</a></li>
          <li><a href="#">Institute of Alcohol Studies</a></li>
          <li><a href="#">Mental Health Foundation</a></li>
          <li><a href="#">Prostate UK</a></li>
          <li><a href="#">Royal College of General Practitioners</a></li>
          <li><a href="#">Royal College of Nursing</a></li>
          <li><a href="#">Royal College of Physicians</a></li>
          <li><a href="#">Royal College of Physicians and Surgeons of Glasgow</a></li>
          <li><a href="#">Royal College of Physicians of Edinburgh</a></li>
          <li><a href="#">Royal College of Psychiatrists</a></li>
        </ul>
      </div>


    <a href="/v6-s1/admin-view/reviews-edit-notification" role="button" class="govuk-button">
      Publish
    </a>

    </div>




{% endblock %}
