{% extends "layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="reviews" class="govuk-back-link" >Back to all reviews</a>
      <h1 class="govuk-heading-l">
        SMA 2020 review
      </h1>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">Pre-consultation</span>
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="/v4/upload-doc" aria-describedby="relevant-documents-completed">
                Add relevant documents
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="conditions-and-dates-completed">
                ✓
              </strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">Consultation</span>
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="upload-review-doc" aria-describedby="external-review-completed">
                Upload external review document
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="conditions-and-dates-completed">
                ✓
              </strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="start-consultation" aria-describedby="external-review-completed">
                Confirm dates of consultation
              </a>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="confirm-stakeholders" aria-describedby="external-review-completed">
                Confirm stakeholders to be notified
              </a>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="open-consultation" aria-describedby="external-review-completed">
                Open consultation
              </a>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">Post-consultation</span>
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" style="width: 50%">
                Documents and recommendation
              </a>
            </li>
          </ul>
        </li>
      </ol>
            <a href=""  class="govuk-link">Cancel review</a>
    </div>
  </div>

{% endblock %}
