{% extends "layout.html" %}

{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}


{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <a href="stakeholder-index" class="govuk-back-link" >Back</a>
      <h1 class="govuk-heading-l" style="margin-bottom: 0px;">
        Stakeholder name <a href="" style="font-size: 20px; padding-left: 10px;">edit</a>
      </h1>

      <br>
      <br>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col" style="width: 280px;">Stakeholder details:</th>
            <th class="govuk-table__header" scope="col"></th>
              <th class="govuk-table__header" scope="col"></th>

          </tr>
        </thead>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
        <td class="govuk-table__cell"><strong>Name of organisation</strong></td>
        <td class="govuk-table__cell">University of Warwick</td>
        <td class="govuk-table__cell"><a href="">edit</a></td>

              </tr>
    <tr class="govuk-table__row">
    <td class="govuk-table__cell"><strong>Type of organisation</strong></td>
    <td class="govuk-table__cell">Academic institution</td>
    <td class="govuk-table__cell"><a href="">edit</a></td>
    </tr>
    <tr class="govuk-table__row">
    <td class="govuk-table__cell"><strong>Conditions interested in</strong></td>
    <td class="govuk-table__cell">This</br>That</td>
      <td class="govuk-table__cell"><a href="">edit</a></td>
    </tr>
    <tr class="govuk-table__row">
    <td class="govuk-table__cell"><strong>Members names</strong></td>
    <td class="govuk-table__cell">Name 1</br>Name 2</td>
      <td class="govuk-table__cell"><a href="">edit</a></td>
    </tr>
    <tr class="govuk-table__row">
    <td class="govuk-table__cell"><strong>Email address</strong></td>
    <td class="govuk-table__cell">this@that.com</td>
      <td class="govuk-table__cell"><a href="">edit</a></td>
    </tr>
    <tr class="govuk-table__row">
    <td class="govuk-table__cell"><strong>Phone number</strong></td>
    <td class="govuk-table__cell">+44 7130 840137</td>
      <td class="govuk-table__cell"><a href="">edit</a></td>
    </tr>
        </tbody>
      </table>

      </div>
    </div>




    </div>


  </div>
{% endblock %}
