{% extends "template.njk" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
  <link rel="mask-icon" href="{{ asset_path }}images/gov.uk_logotype_crown.svg?0.18.3" color="#0b0c0c">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset_path }}images/apple-touch-icon-152x152.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset_path }}images/apple-touch-icon-120x120.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset_path }}images/apple-touch-icon-76x76.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" href="{{ asset_path }}images/apple-touch-icon-60x60.png?0.18.3">
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/unbranded.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/public/stylesheets/phe-nsc-alpha.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
<div class="phe-header__container govuk-header__container govuk-width-container">
  <div class="phe-header">
    <img src="{{ asset_path }}images/phe_nsc_logo.jpg" class="phe-logo"></img>
    <h1 class="phe-heading">PHE National Screening Committee (Alpha)</h1>
  </div>
  <h2 class="govuk-heading-m">Prototypes</h2>

  <table style="width:100%" >
    <tr class="prototype-table">
      <td><img src="/public/images/v2.png" alt="" style="height: 330px; width: 350px;"></td>
      <td>
        <a href="/v2/index.html" class="govuk-link">Version 1</a>
        <ul>
          <li>GDS components without GOV UK branding</li>
          <li>Admin dashboard, only review process</li>
          <li>Review dashboard in table form, showing stage of process</li>
          <li>Form error messages</li>
          <li>Save consultation and email stakeholders function</li>
        </ul>
      </td>
    </tr>
    <tr class="prototype-table">
      <td><img src="/public/images/v1.png" alt="" style="height: 330px; width: 350px;"></td>
      <td>
        <a href="/docs/v1/index.html" class="govuk-link">Version 2</a>
        <ul>
          <li>GOV UK branding</li>
          <li>Admin dashboard, only review process</li>
          <li>Review dashboard in list form</li>
          <li>Overview of review process in checklist form</li>
        </ul>
      </td>
    </tr>
    <tr class="prototype-table">
      <td><img src="/public/images/v3.png" alt="" style="height: 350px; width: 350px;"></td>
      <td>
        <a href="/v3/index.html" class="govuk-link">Version 3</a>
        <ul>
          <li>GOV UK branding</li>
          <li>Admin dashboard, review process and policy pages</li>
          <li>Review dashboard in table form, showing stage of process</li>
          <li>Overview of review process in checklist form</li>
          <li>Save consultation and email stakeholders function</li>
          <li>Can delay opening consultations</li>
          <li>Policy pages have some information locked in</li>
          <li>Can preview a policy page before publishing it</li>
        </ul>
      </td>
    </tr>
    <tr class="prototype-table">
      <td><img src="/public/images/v4.png" alt="" style="height: 350px; width: 350px;"></td>
      <td>
        <a href="/v4/index.html" class="govuk-link">Version 4</a>
        <ul>
          <li>Clarification of delaying opening consultations</li>
          <li>Clarification at end of the review process</li>
          <li>Form error messages</li>
          <li>Post-consultation stages condensed</li>
        </ul>
      </td>
    </tr>
    <tr class="prototype-table">
      <td><img src="/public/images/search_a.png" alt="" style="height: 350px; width: 350px;"></td>
      <td>
        <a href="/search_a" class="govuk-link">Search A</a>
        <ul>
          <li>Ability to search through the conditions only by name</li>
          <li>Search box only</li>
        </ul>
      </td>
    </tr>
    <tr class="prototype-table">
      <td><img src="/public/images/search_b.png" alt="" style="height: 350px; width: 350px;"></td>
      <td>
        <a href="/search_b" class="govuk-link">Search B</a>
        <ul>
          <li>Ability to search through the conditions by name, type, and status</li>
          <li>Search box and filters</li>
        </ul>
      </td>
    </tr>
    <tr class="prototype-table">
      <td><img src="/public/images/search_a.png" alt="" style="height: 350px; width: 350px;"></td>
      <td>
        <a href="/search_c" class="govuk-link">Search C</a>
        <ul>
          <li>Ability to search through the conditions by name and type</li>
          <li>Search box only</li>
        </ul>
      </td>
    </tr>
    <tr class="prototype-table">
      <td><img src="/public/images/feedback.png" alt="" style="height: 350px; width: 350px;"></td>
      <td>
        <a href="/consultation-feedback-1/form" class="govuk-link">Consultation feedback form</a>
        <ul>
          <li>Form for uploading or entering consultation feedback</li>
          <li>GOV UK components</li>
        </ul>
      </td>
    </tr>
    <tr class="prototype-table">
      <td><img src="/public/images/homepage.png" alt="" style="height: 260px; width: 350px;"></td>
      <td>
        <strong>End-to-end journey</strong>
        <ul>
          <li><a href="/end-to-end/homepage.html">Public facing user journey</a></li>
          <li><a href="/v4/index.html">Admin facing user journey</a></li>
        </ul>
      </td>
    </tr>
  </table>
</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
{% endblock %}
